<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="css/adminIndex.css" />
<section
  class="row gx-5 mx-0 mx-lg-5 overflow-y-auto no-scrollbar min-height-100-vh pb-5"
>
  <section class="bg-light rounded px-0">
    <!--* Begin Intrapage navbar -->
    <nav class="navbar navbar-expand-lg bg-body-secondary">
      <div class="container-fluid">
        <!-- <p class="navbar-brand">Test</p> -->
        <a class="navbar-brand" href="#">Admin Panel</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#adminNavbarNav"
          aria-controls="adminNavbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="adminNavbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <button
                class="nav-link btn btn-light adminNavButton active"
                aria-current="page"
                href="#"
              >
                Events
              </button>
            </li>
            <li class="nav-item">
              <button class="nav-link btn btn-light adminNavButton" href="#">
                Membership Applications
              </button>
            </li>
            <li class="nav-item">
              <button class="nav-link btn btn-light adminNavButton" href="#">
                Members
              </button>
            </li>
            <li class="nav-item">
              <button class="nav-link btn btn-light adminNavButton" href="#">
                Site Users
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Nav ================================================================================-->

    <!--! Notes: -->
    <!-- We'll code each of the thing the admin should be able to see here, rendering dynamically in EJS -->
    <!-- Everything will be hidden via CSS with the d-none class or some such -->
    <!-- When a user clicks on one of the above nav buttons, it will remove the class -->
    <!-- When another button is clicked, the class will be readded, and removed from the relevant button/section clicked, etc -->

    <!-- Other option is to generate the html dynamically with JS -->
    <!-- This may not work with the dynamic data calls and the serverside data generation, etc -->
    <!-- Will probably be more work too... -->
  </section>
</section>

<script src="js/admin/adminIndex.js"></script>
