<% if (success && success.length > 0) {%>
<div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
  <%= success %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %>
<!--* error -->
<% if (error && error.length > 0) {%>
<div class="alert alert-danger alert-dismissible fade show mt-4" role="alert">
  <%= error %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %>
<!--* deleted -->
<% if (deleted && deleted.length > 0) {%>
<div class="alert alert-danger alert-dismissible fade show mt-4" role="alert">
  <%= deleted %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %>
