<link rel="stylesheet" href="/css/footer.css" />

<footer class="shadow-lg d-flex flex-column align-items-center">
  <!--! Main Footer Content -->
  <section class="container row py-5">
    <!--* Logo -->
    <aside class="col-lg-3">
      <img src="/assets/images/ico-192.png" alt="" class="img-fluid" />
    </aside>

    <!--* Links -->
    <article class="col-lg-6">
      <div class="row">
        <div class="col-lg-6">
          <h5>Links</h5>
          <ul class="list-unstyled">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/properties">Properties</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-lg-6">
          <h5>Resources</h5>
          <ul class="list-unstyled">
            <li><a href="/resources">Resources</a></li>
            <li><a href="/resources/financing">Financing</a></li>
            <li><a href="/resources/permits">Permits</a></li>
            <li><a href="/resources/permits">Utilities</a></li>
            <li><a href="/resources/permits">Zoning</a></li>
          </ul>
        </div>
      </div>
    </article>

    <!--* Socials -->
    <aside class="col-lg-3">
      <h5>Socials</h5>
      <ul class="list-unstyled">
        <li>
          <a href="https://www.facebook.com/PennNorthwest/" target="_blank"
            >Facebook</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/company/penn-northwest-development-corporation/"
            target="_blank"
            >LinkedIn</a
          >
        </li>
        <li>
          <a href="https://www.instagram.com/pennnorthwest/" target="_blank"
            >Instagram</a
          >
        </li>
        <li>
          <a href="https://twitter.com/PennNorthwest" target="_blank"
            >Twitter</a
          >
        </li>
      </ul>
    </aside>
  </section>

  <!--* Copyright  -->
  <div class="container text-center">
    <!-- insert a copyright -->
    <p class="text-muted">&copy; Penn-Northwest Development Corporation 2023</p>
  </div>
</footer>
