<footer id="test" class="background-khaki shadow-lg border-top">
  <h1 style="color: #c9b79c">Test</h1>
  <h1 style="color: #c9b79c">Test</h1>
  <h1 style="color: #c9b79c">Test</h1>
  <h1 style="color: #c9b79c">Test</h1>
  <h1 style="color: #c9b79c">Test</h1>
  <h1 style="color: #c9b79c">Test</h1>
  <h1 style="color: #c9b79c">Test</h1>
  <h1 style="color: #c9b79c">Test</h1>
  <h1 style="color: #c9b79c">Test</h1>

  <p class="mb-0" style="color: #c9b79c">Test</p>
</footer>
