<link rel="stylesheet" href="/css/nav.css" />
<nav class="navbar navbar-expand-lg position-fixed top-0 w-100">
  <div class="container-fluid d-flex">
    <a class="navbar-brand" href="/"
      ><a class="navbar-brand ff-1" href="/">
        <div
          class="d-flex flex-column align-items-center justify-content-center"
        >
          <div>
            <!--* lg screen header -->
            <h2
              class="ff-1 font-size-6 mb-1 letter-spacing-1 pndc-orange d-none d-lg-block"
            >
              DEVELOPMENT
            </h2>
            <!--* sm screen header -->
            <h2
              class="ff-1 font-size-6 mb-1 letter-spacing-1 pndc-orange d-lg-none"
            >
              DEVELOPMENT
            </h2>
          </div>
          <div>
            <hr class="m-0" />
            <!--* lg screen header -->
            <h1
              class="ff-1 font-size-3 m-0 pndc-blue d-none d-lg-block text-light"
            >
              PENN-NORTHWEST
            </h1>
            <!--* sm screen header -->
            <h1 class="ff-1 font-size-5 m-0 pndc-blue d-lg-none text-light">
              PENN-NORTHWEST
            </h1>
            <hr class="m-0" />
          </div>
          <div>
            <!--* lg screen header -->
            <h2
              class="ff-1 font-size-6 mt-1 letter-spacing-1 pndc-orange d-none d-lg-block"
            >
              CORPORATION
            </h2>
            <!--* sm screen header -->
            <h2
              class="ff-1 font-size-6 mt-1 letter-spacing-1 pndc-orange d-lg-none"
            >
              CORPORATION
            </h2>
          </div>
        </div>
      </a>
    </a>
    <button
      id="toggle-button"
      class="navbar-toggler border-light"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav d-flex justify-content-evenly w-100">
        <li class="nav-item w-100 text-center">
          <a
            class="nav-link text-light ff-1 font-size-6"
            aria-current="page"
            href="/jobs"
            >JOBS</a
          >
        </li>
        <li class="nav-item w-100 text-center">
          <a class="nav-link text-light ff-1 font-size-6" href="/events"
            >EVENTS</a
          >
        </li>
        <li class="nav-item w-100 text-center">
          <a class="nav-link text-light ff-1 font-size-6" href="/membership"
            >MEMBERSHIP</a
          >
        </li>
        <li class="nav-item w-100 text-center">
          <a class="nav-link text-light ff-1 font-size-6" href="/about"
            >ABOUT</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<script src="/js/NavAnimation.js"></script>
