<% layout('layouts/boilerplate') %>

<section id="main" class="container">
  <h1 class="text-center ff-1 font-size-2">Mercer County</h1>

  <p class="ff-4 letter-spacing-1 max-text-width">
    Penn-Northwest is a conduit and catalyst for economic growth and prosperity
    in Mercer County. We exist to enrich the lives of those who live, learn,
    work, and play in Mercer County by attracting investment that creates and/or
    retains economically sustaining jobs.
  </p>
  0
  <p>Test</p>
</section>
<!--* Script for moving main content down to account for Header -->
<script src="/js/NavMargin.js"></script>
