<% layout('layouts/boilerplate') %>

<section id="main" class="container">
  <h1 class="text-center ff-3 font-size-2">
    Welcome to the Penn Northwest Development Corporation!
  </h1>

  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio recusandae
    quis non, ex sit neque voluptas, dolor natus blanditiis optio facere aut
    dolores voluptate minima inventore odit eaque eveniet architecto. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Corporis, nisi harum
    nihil temporibus labore qui fugiat, natus aliquam sapiente molestiae vitae
    dolores, molestias doloribus quam. Laborum totam commodi reiciendis
    voluptatum?
  </p>
  <p>Test</p>
</section>
<!--* Script for moving main content down to account for Header -->
<script src="/js/NavMargin.js"></script>
