#hero-header {
  font-size: clamp(2rem, 25vw, 11rem);
}

.w-fit-content {
  width: fit-content !important;
}

#introduction-header {
  /* font-size: clamp(2rem, 25vw, 11rem); */
  max-width: 25vw;
}

@media (max-width: 1800px) {
  #introduction-header {
    max-width: 30vw;
  }
}

.custom-z-index {
  z-index: 5 !important;
}

#svg-1 {
  top: 85px !important;
  right: -100px !important;
}

@media screen and (max-width: 992px) {
  #svg-1 {
    /* top: 35rem !important; */
    top: 450px !important;

    right: -100px !important;
  }
}

/** Second Section Spacing */
#section-2 {
  margin-top: 12.5rem;
}

@media (max-width: 1800px) {
  #section-2 {
    margin-top: 15rem;
  }
}
@media (max-width: 1472px) {
  #section-2 {
    margin-top: 17rem;
  }
}
@media (max-width: 992px) {
  #section-2 {
    margin-top: 7.5rem;
  }
}

/* #blob-anchor-2 {
  background: url('../assets/svgs/about/blob-2.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90% auto;
} */

/** Second Image Background Blob Styling */
#blob-anchor-2::before {
  content: url('../assets/svgs/about/blob-2.svg');
  position: absolute;
  top: -9vw;
  left: 1.5%;
  width: 100%;
  height: auto;
  z-index: 1;
}

@media (max-width: 1600px) {
  #blob-anchor-2::before {
    top: -8.5vw;
  }
}
@media (max-width: 1400px) {
  #blob-anchor-2::before {
    top: -8vw;
  }
}
@media (max-width: 1100px) {
  #blob-anchor-2::before {
    top: -7.5vw;
    left: 1.5%;
  }
}
@media (max-width: 992px) {
  #blob-anchor-2::before {
    top: -17vw;
    left: 4%;
    width: 95%;
  }
}
@media (max-width: 650px) {
  #blob-anchor-2::before {
    top: -16vw;
  }
}
@media (max-width: 550px) {
  #blob-anchor-2::before {
    top: -15vw;
  }
}
@media (max-width: 450px) {
  #blob-anchor-2::before {
    top: -15vw;
  }
}
@media (max-width: 400px) {
  #blob-anchor-2::before {
    top: -11.5vw;
  }
}
