#hero-header {
  font-size: clamp(2rem, 25vw, 11rem);
}

.w-fit-content {
  width: fit-content !important;
}

#introduction-header {
  /* font-size: clamp(2rem, 25vw, 11rem); */
  max-width: 25vw;
}

@media (max-width: 1800px) {
  #introduction-header {
    max-width: 30vw;
  }
}

.custom-z-index {
  z-index: 5 !important;
}

#svg-1 {
  top: 85px !important;
  right: -100px !important;
}

@media screen and (max-width: 992px) {
  #svg-1 {
    /* top: 35rem !important; */
    top: 450px !important;

    right: -100px !important;
  }
}

#section-2 {
  margin-top: 10rem;
}

@media (max-width: 1600px) {
  #section-2 {
    margin-top: 15rem;
  }
}
@media (max-width: 992px) {
  #section-2 {
    margin-top: 5rem;
  }
}
