#hero-header {
  position: relative;
  top: 1rem;
  font-size: clamp(2rem, 25vw, 11rem);
}

.w-fit-content {
  width: fit-content !important;
}

@media (min-width: 1825px) {
  #group-photo {
    position: relative;
    right: 6.5%;
  }
}
@media (min-width: 2030px) {
  #group-photo {
    position: relative;
    right: 10.5%;
  }
}

#svg-1 {
  top: 85px !important;
  right: -100px !important;
}

@media screen and (max-width: 991px) {
  #svg-1 {
    top: 450px !important;

    right: -100px !important;
  }
}

/** Second Section Spacing */
#section-2 {
  margin-top: 12.5rem;
}

@media (max-width: 1800px) {
  #section-2 {
    margin-top: 15rem;
  }
}
@media (max-width: 1472px) {
  #section-2 {
    margin-top: 17rem;
  }
}

@media (max-width: 992px) {
  #section-2 {
    margin-top: 7.5rem;
  }
}

/** Second Image Background Blob Styling */
#blob-anchor-2::before {
  content: url('../assets/svgs/about/blob-2.svg');
  position: absolute;
  top: -9vw;
  left: 1.5%;
  width: 100%;
  height: auto;
  z-index: 1;
}

@media (max-width: 1600px) {
  #blob-anchor-2::before {
    top: -8.5vw;
  }
}
@media (max-width: 1400px) {
  #blob-anchor-2::before {
    top: -8vw;
  }
}
@media (max-width: 1300px) {
  #blob-anchor-2::before {
    top: -7vw;
  }
}
@media (max-width: 1247px) {
  #blob-anchor-2::before {
    top: -6.5vw;
  }
}

@media (max-width: 1200px) {
  #blob-anchor-2::before {
    top: -3vw;
  }
}

@media (max-width: 1125px) {
  #blob-anchor-2::before {
    top: -2vw;
  }
}
@media (max-width: 1050px) {
  #blob-anchor-2::before {
    top: 0vw;
  }
}
@media (max-width: 1050px) {
  #blob-anchor-2::before {
    top: 2vw;
  }
}

@media (max-width: 991px) {
  #blob-anchor-2::before {
    top: -17vw;
    left: 4%;
    width: 95%;
  }
}
@media (max-width: 650px) {
  #blob-anchor-2::before {
    top: -16vw;
  }
}
@media (max-width: 550px) {
  #blob-anchor-2::before {
    top: -15vw;
  }
}
@media (max-width: 450px) {
  #blob-anchor-2::before {
    top: -15vw;
  }
}
@media (max-width: 400px) {
  #blob-anchor-2::before {
    top: -11.5vw;
  }
}

#to-and-through-image {
  width: 40%;
  background-color: #f8f9fa;
}
@media (max-width: 700px) {
  #to-and-through-image {
    width: 60%;
  }
}
@media (max-width: 576px) {
  #to-and-through-image {
    width: 75%;
  }
}

#to-and-through-blob-anchor::before {
  content: url('../assets/svgs/about/blob-4.svg');
  position: absolute;
  top: -25%;
  left: 20%;
  width: 60%;
  height: auto;
  z-index: -1;
}
@media (max-width: 700px) {
  #to-and-through-blob-anchor::before {
    top: -22%;
    left: -5%;
    width: 110%;
  }
}

.staff-cards {
  width: 25rem;
  margin-bottom: 3rem;
}

#our-mission-header {
  font-size: clamp(2rem, 25vw, 8rem);
}

@media (max-width: 992px) {
  .border-sm-none {
    border: none !important;
  }
}

#peg-1 {
  position: absolute;
  top: 50%;
  right: 0;
  width: 10%;
}
@media (max-width: 992px) {
  #peg-1 {
    display: none;
  }
}
#peg-2 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 10%;
}
