:root {
  --ff-1: georgia, serif;
  --ff-2: 'Quicksand', sans-serif;
  --ff-3: 'Playfair Display', serif;
  --ff-4: 'Raleway', sans-serif;

  /*! Spacing */
  /** Widths */
  --max-text-width: 60ch;
  /** Letter Spacing  */
  --letter-spacing-1: 0.1em;

  /** Line Height */
  --default-line-height: 1.75;

  /** Max Text Width */
  --max-text-width: 65ch;

  /*! Colors */
  /** Oranges */
  --pndc-orange: #f97521;
  --pndc-orange-2: #fa8337;
  --pndc-orange-3: #fa914d;
  --pndc-orange-4: #fb9e64;
  --pndc-orange-5: #fbac7a;
  --pndc-orange-6: #fcba90;
  --pndc-orange-7: #fdc8a6;
  --pndc-orange-8: #fdd6bc;
  --pndc-orange-9: #fee3d3;
  --pndc-orange-10: #fef1e9;

  /** Blues */
  --pndc-blue: #003a69;
  --pndc-blue-2: #1a4e78;
  --pndc-blue-3: #336187;
  --pndc-blue-4: #4d7496;
  --pndc-blue-5: #4d7596;
  --pndc-blue-6: #6689a5;
  --pndc-blue-7: #809db4;
  --pndc-blue-8: #99b0c3;
  --pndc-blue-9: #b3c3d2;
  --pndc-blue-10: #ccd8e1;

  --mercer-county-blue: #054467;
  --stratosphere-blue: #004777;

  /** Yellows */
  --mercer-county-yellow: #f4d35e;

  /** Whites */
  --bg-platinum: #dce0d9;
  --bg-pearl: #efe3c7;
  --bootstrap-white: #f8f9fa;
}

/*! HTML/Body Definitions */
html,
body {
  line-height: var(--default-line-height) !important;
}

/*! Spacing */
.letter-spacing-1 {
  letter-spacing: var(--letter-spacing-1);
}

.max-text-width {
  max-width: var(--max-text-width);
}

/*! Borders and Box-Sizing */
.border-box {
  box-sizing: border-box;
}

/*! Background Color Definitions */
.background-transparent {
  background-color: transparent;
}

/** Orange */
.background-pndc-orange {
  background-color: var(--pndc-orange);
}
.background-pndc-orange-2 {
  background-color: var(--pndc-orange-2);
}
.background-pndc-orange-3 {
  background-color: var(--pndc-orange-3);
}
.background-pndc-orange-4 {
  background-color: var(--pndc-orange-4);
}
.background-pndc-orange-5 {
  background-color: var(--pndc-orange-5);
}
.background-pndc-orange-6 {
  background-color: var(--pndc-orange-6);
}
.background-pndc-orange-7 {
  background-color: var(--pndc-orange-7);
}
.background-pndc-orange-8 {
  background-color: var(--pndc-orange-8);
}
.background-pndc-orange-9 {
  background-color: var(--pndc-orange-9);
}
.background-pndc-orange-10 {
  background-color: var(--pndc-orange-10);
}

/** Blue */
.background-pndc-blue {
  background-color: var(--pndc-blue);
}
.background-pndc-blue-2 {
  background-color: var(--pndc-blue-2);
}
.background-pndc-blue-3 {
  background-color: var(--pndc-blue-3);
}
.background-pndc-blue-4 {
  background-color: var(--pndc-blue-4);
}
.background-pndc-blue-5 {
  background-color: var(--pndc-blue-5);
}
.background-pndc-blue-6 {
  background-color: var(--pndc-blue-6);
}
.background-pndc-blue-7 {
  background-color: var(--pndc-blue-7);
}
.background-pndc-blue-8 {
  background-color: var(--pndc-blue-8);
}
.background-pndc-blue-9 {
  background-color: var(--pndc-blue-9);
}
.background-pndc-blue-10 {
  background-color: var(--pndc-blue-10);
}

.background-mercer-county-blue {
  background-color: var(--mercer-county-blue);
}

/** Yellows */
.background-mercer-county-yellow {
  background-color: var(--mercer-county-yellow);
}

/** Whites */
.background-pearl {
  background-color: var(--bg-pearl);
}

/*! Color Definitions */
.pndc-orange {
  color: var(--pndc-orange);
}
.pndc-orange-2 {
  color: var(--pndc-orange-2);
}
.pndc-orange-3 {
  color: var(--pndc-orange-3);
}
.pndc-orange-4 {
  color: var(--pndc-orange-4);
}
.pndc-orange-5 {
  color: var(--pndc-orange-5);
}
.pndc-orange-6 {
  color: var(--pndc-orange-6);
}
.pndc-orange-7 {
  color: var(--pndc-orange-7);
}
.pndc-orange-8 {
  color: var(--pndc-orange-8);
}
.pndc-orange-9 {
  color: var(--pndc-orange-9);
}
.pndc-orange-10 {
  color: var(--pndc-orange-10);
}

.mercer-county-yellow {
  color: var(--mercer-county-yellow) !important;
}

.pndc-blue {
  color: var(--pndc-blue);
}
.pndc-blue-2 {
  color: var(--pndc-blue-2);
}
.pndc-blue-3 {
  color: var(--pndc-blue-3);
}
.pndc-blue-4 {
  color: var(--pndc-blue-4);
}
.pndc-blue-5 {
  color: var(--pndc-blue-5);
}
.pndc-blue-6 {
  color: var(--pndc-blue-6);
}
.pndc-blue-7 {
  color: var(--pndc-blue-7);
}
.pndc-blue-8 {
  color: var(--pndc-blue-8);
}
.pndc-blue-9 {
  color: var(--pndc-blue-9);
}
.pndc-blue-10 {
  color: var(--pndc-blue-10);
}

.mercer-county-blue {
  color: var(--mercer-county-blue);
}

.pearl {
  color: var(--bg-pearl);
}

/*! Font Family Definitions */
.ff-1 {
  font-family: var(--ff-1);
}
.ff-2 {
  font-family: var(--ff-2);
}

.ff-3 {
  font-family: var(--ff-3);
}

.ff-4 {
  font-family: var(--ff-4);
}

/*! Font Size Definitions */
.font-size-1 {
  font-size: 4.209rem;
}
.font-size-2 {
  font-size: 3.157rem;
}
.font-size-3 {
  font-size: 2.369rem;
}
.font-size-4 {
  font-size: 1.777rem;
}
.font-size-5 {
  font-size: 1.333rem;
}
.font-size-6 {
  font-size: 1rem;
}

/*! Element Sizings */
.min-height-100-vh {
  min-height: 100vh;
}

/*! Background Color Gradient */
.blue-gradient {
  /* background: linear-gradient(to bottom, #f8f9fa, #004777); */
  /* background: linear-gradient(to bottom, #f8f9fa, #004777, #f97521, #f8f9fa); */
  background: linear-gradient(
    to bottom,
    var(--stratosphere-blue),
    var(--bootstrap-white) 50%,
    var(--bootstrap-white) 50%,
    var(--pndc-orange)
  );
}
