.background-offwhite {
  background-color: rgb(33, 37, 41);
}

/* Header div dimensions */
#header {
  max-height: 80dvh;
  overflow-y: hidden;
}

/* Header margin and font styles */
.h1-heading-margin-top {
  font-family: helvetica;
  margin-top: 9rem;
  font-weight: 600;
}

#hero-image {
  filter: brightness(75%);
}

/* Header H1 margin */
#call-to-action-button-div {
  margin-top: 22rem;
}

/* Header button border */
#call-to-action-button {
  border: 1px solid #f8f9fa6c;
}

.event-image {
  max-height: 25rem;
}

.event-article-heading {
  font-size: 2rem;
}

#event-creation-card {
  width: 50vw;
}

/* #checkout-form {
  max-width: fit-content;
} */

.form-check {
  max-width: fit-content;
}
/** BEGIN MEDIA QUERIES ***************************************************************************/
/** Medium Screen */
@media screen and (max-width: 992px) {
  /* Header H1 margin */
  .h1-heading-margin-top {
    margin-top: 7rem;
  }

  #event-creation-card {
    width: 90vw;
  }
  /* Header button margin */
  #call-to-action-button-div {
    margin-top: 20rem;
  }
}

/** Interim Medium screen */
@media screen and (max-width: 880px) {
  /* Header H1 margin */
  .h1-heading-margin-top {
    margin-top: 5rem;
  }
  /* Header button margin */
  #call-to-action-button-div {
    margin-top: 18rem;
  }
}

/** Small screen */
@media screen and (max-width: 576px) {
  /* Header H1 margin */
  .h1-heading-margin-top {
    margin-top: 2.5rem;
  }
}

.guestList {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap onto a new row */
  gap: 8px; /* Adds spacing between items */
  list-style: none;
  padding: 0;
  width: 100%;
  flex-direction: row;
}

.guestList li {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  background-color: #f8f9fa;
  border-radius: 5px;
  white-space: nowrap; /* Prevents text from wrapping inside items */
  width: fit-content;
}

#removeGuestButton{
  padding: 3px !important;
}

#removeGuestButton:hover{
  filter: contrast(3);
  background-color: #909090 !important;
}
