footer {
  background: #c9b79c;
  min-height: 33dvh;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  position: relative;
  top: 1px;
}

#logo-header {
  font-size: 7rem;
  /* font-size: clamp(5rem, 8vw, 7rem); */
}

@media screen and (max-width: 1399px) {
  #logo-header {
    font-size: 6rem;
  }
}
@media screen and (max-width: 1199px) {
  #logo-header {
    font-size: 5rem;
  }
}
@media screen and (max-width: 991px) {
  #logo-header {
    font-size: 7rem;
  }
}
@media screen and (max-width: 358px) {
  #logo-header {
    font-size: 5rem;
  }
}

/** The below will make the form logout button in the nav look like a normal link */
.inline {
  display: inline;
}

.link-button {
  background: none;
  border: none;

  color: black;
  cursor: pointer;
  font-size: 1em;

  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
    'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.link-button:focus {
  outline: none;
}
.link-button:hover {
  text-decoration: underline;
}

/***************************************************************  */
