:root {
  --ff-1: georgia, serif;
  --ff-2: 'Quicksand', sans-serif;
  --ff-3: 'Playfair Display', serif;
  --ff-4: 'Raleway', sans-serif;

  /*! Spacing */
  /** Widths */
  --max-text-width: 60ch;
  /** Letter Spacing  */
  --letter-spacing-1: 0.1em;

  /** Line Height */
  --default-line-height: 1.75;

  /** Max Text Width */
  --max-text-width: 65ch;

  /*! Colors */
  /** Oranges */
  --pndc-orange: #f97521;

  /** Blues */
  --pndc-blue: #003a69;

  /** Whites */
  --bg-platinum: #dce0d9;
  --bg-pearl: #efe3c7;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* .blue-gradient {
 
  background: linear-gradient(
    to bottom,
    #004777,
    #f8f9fa 50%,
    #f8f9fa 50%,
    #f97521
  );
} */

.max-height-100-vh {
  max-height: 100vh;
}

/* .min-height-100-vh {
  min-height: 100vh;
} */
.max-height-90-vh {
  max-height: 90vh;
  overflow-y: hidden;
}

.max-height-80-vh {
  max-height: 80vh;
}

.max-height-85-vh {
  max-height: 85vh;
}

#test-color {
  /* background-color: #d1c6ad; */
  /* background-color: #bbada0; */
  /* background: radial-gradient(at center, #33302a, #968e7a, #33302a); */

  /* background: radial-gradient(circle at center, #33302a, #33302a 70%, #968e7a); */
  /* background: linear-gradient(to right, #33302a, #968e7a, #33302a); */

  /* background: radial-gradient(circle at center, #968e7a, #968e7a 70%, #33302a);
  background: linear-gradient(to right, #33302a, #968e7a, #33302a); */

  /* background: radial-gradient(circle at center, #d1c6ad, #d1c6ad 70%, #33302a);
  background: linear-gradient(to right,   #33302a, #d1c6ad, #33302a); */

  /* background: linear-gradient(#d1c6ad, #d1c6ad) center/100% 95% no-repeat,
    #33302a; */

  /* background: radial-gradient(closest-corner, #d1c6ad, #33302a); */

  background: radial-gradient(
    ellipse,
    rgba(209, 198, 173, 1) 50%,
    #a79e8a 100%
  );
}
