/* section {
  background-color: black;
} */

/* Hide scrollbar on all browsers */

/* Hide scrollbar in Internet Explorer and Microsoft Edge */
/* body {
}
body::-webkit-scrollbar {
  display: none;
} */

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.blue-gradient {
  /* background: linear-gradient(to bottom, #f8f9fa, #004777); */
  /* background: linear-gradient(to bottom, #f8f9fa, #004777, #f97521, #f8f9fa); */
  background: linear-gradient(
    to bottom,
    #004777,
    #f8f9fa 50%,
    #f8f9fa 50%,
    #f97521
  );
}

.max-height-100-vh {
  max-height: 100vh;
  /* overflow-y: hidden; */
}

.min-height-100-vh {
  min-height: 100vh;
}
.max-height-90-vh {
  max-height: 90vh;
  overflow-y: hidden;
}

.max-height-80-vh {
  max-height: 80vh;
}

.max-height-85-vh {
  max-height: 85vh;
}

/* #main {
  max-height: 100vh;
} */
