:root {
  --ff-1: georgia, serif;
  --ff-2: 'Quicksand', sans-serif;
  --ff-3: 'Playfair Display', serif;
  --ff-4: 'Raleway', sans-serif;

  /*! Spacing */
  /** Widths */
  --max-text-width: 60ch;
  /** Letter Spacing  */
  --letter-spacing-1: 0.1em;

  /** Line Height */
  --default-line-height: 1.75;

  /** Max Text Width */
  --max-text-width: 65ch;

  /*! Colors */
  /** Oranges */
  --pndc-orange: #f97521;

  /** Blues */
  --pndc-blue: #003a69;

  /** Whites */
  --bg-platinum: #dce0d9;
  --bg-pearl: #efe3c7;
  --dun-shade-1: rgba(209, 198, 173, 1);
  --dun-shade-2: #a79e8a;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.max-height-100-vh {
  max-height: 100vh;
}

.max-height-90-vh {
  max-height: 90vh;
  overflow-y: hidden;
}

.max-height-80-vh {
  max-height: 80vh;
}

.max-height-85-vh {
  max-height: 85vh;
}

#icon-divider {
  background: radial-gradient(
    ellipse,
    var(--dun-shade-1) 50%,
    var(--dun-shade-2) 100%
  );
}

#call-to-action-button {
  padding-top: 1.75em;
  padding-bottom: 1.75em;
}

.hero-gradient {
  background: linear-gradient(150deg, #f8f9fa 50%, transparent 100%);
}

.make-it-in-gradient {
  background: linear-gradient(to bottom, #f8f9fa 75%, transparent 100%);
}

#dividing-section {
  background-image: url(../assets/images/membership-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#test {
  max-height: 15rem;
}
