:root {
  --ff-1: georgia, serif;
  --ff-2: 'Quicksand', sans-serif;
  --ff-3: 'Playfair Display', serif;
  --ff-4: 'Raleway', sans-serif;

  /*! Spacing */
  /** Widths */
  --max-text-width: 60ch;
  /** Letter Spacing  */
  --letter-spacing-1: 0.1em;

  /** Line Height */
  --default-line-height: 1.75;

  /** Max Text Width */
  --max-text-width: 65ch;

  /*! Colors */
  /** Oranges */
  --pndc-orange: #f97521;

  /** Blues */
  --pndc-blue: #003a69;

  /** Whites */
  --bg-platinum: #dce0d9;
  --bg-pearl: #efe3c7;
  --dun-shade-1: rgba(209, 198, 173, 1);
  --dun-shade-2: #a79e8a;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.max-height-100-vh {
  max-height: 100vh;
}

.max-height-90-vh {
  max-height: 90vh;
  overflow-y: hidden;
}

.max-height-80-vh {
  max-height: 80vh;
}

.max-height-85-vh {
  max-height: 85vh;
}

#icon-divider {
  background: radial-gradient(
    ellipse,
    #ffffff 50%,
    #ffffff 100%
  );
  margin: 20px, auto;
}

#call-to-action-button {
  padding-top: 1.75em;
  padding-bottom: 1.75em;
}

.hero-gradient {
  background: url(../assets/svgs/home/fluid.svg);
  background-size: cover;
}

.hero-lead-text {
  font-size: 1.5rem;
}

#large-screen-hero-header {
  font-size: 6rem;
}

.make-it-in-gradient {
  background: linear-gradient(to bottom, #f8f9fa 75%, transparent 100%);
}

#dividing-section {
  background-image: url(https://res.cloudinary.com/dypchgtip/image/upload/v1710275462/membership-1_qgeuxt.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (max-width: 991px) {
  #large-screen-hero-header {
    font-size: 4.5rem;
  }

  #amplifying-financial-success-card {
    border-right: none !important;
    border-left: none !important;
  }
}

#maps-contact-form {
  background: url('../assets/svgs/blob-3.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.maps-contact-form-iframe {
  background-color: #024878;
}

@media (max-height: 768px) {
  .maps-contact-form-iframe {
    width: 480px !important;
  }
}

@media (max-width: 768px) {
  .maps-contact-form-iframe {
    width: 360px !important;
  }
}

/* new aside styling */

.subtitle{
  color: rgb(0, 0, 0);
  justify-content: center;
  align-self: center;
  display: flex;
}

#portfolio{
    padding: 30px 0;
    margin: 30px, auto;
 }

 .work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 45px;
    margin-top: 50px;
 }

 .work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    font-family: (--bs-body-font-family);
    aspect-ratio: 1 / 1;  
 }

 .work img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    object-fit: cover;
    object-position: 30%;
    transition: transform 0.5s, filter 0.5s;
    filter: brightness(70%);
 }

 .layer{
    width: 100%;
    height: .1%;
    background: #00000000;
    border-radius: 10px;
    position:absolute;
    left: 0;
    bottom: 0;
    overflow:visible;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
    font-weight: 500;
    font-size: large;
    color: white;
    line-height: normal;
 }

 .layer h3{
    font-weight: 300;
    color: white;
    font-size: clamp(1.25rem, 2vw + 0.5rem, 2.5rem);
 }

 .layer p{
  opacity: 0;
  transition: opacity 0.5s;
  font-size: clamp(.7rem, 1.5vw + 0.25rem, 1.6rem);
  font-weight: 300;
 }

 .work:hover img{
    transform: scale(1.1);
    filter: brightness(88%);
 }
 .work:hover .layer{
    height: 100%;
    background: linear-gradient(#f97421c6, #0000007d);
 }

  .work:hover .layer p{
    opacity: 1;
 }

.workWidth{
  align-content: center;
  align-items: center;
  max-width: 90%;
}