:root {
  /* --hover-shadow: 0 0.5rem 1rem rgba(33, 37, 41, 0.15) !important; */
  --hover-shadow: 0 0.25rem 0.5rem rgba(33, 37, 41, 0.15) !important;
}

/*! Color Definitions **********************************************************/

.true-blue {
  color: #3066be;
}

.bg-true-blue {
  background-color: #3066be;
}

.pndc-orange {
  color: #f7941d;
}
.bg-pndc-orange {
  background-color: #f7941d;
}

.orange-2 {
  color: #fb5607;
}
.bg-orange-2 {
  background-color: #fb5607;
}

.bg-orange-2:hover {
  background-color: #fb5607;
}
/*! END Color Definitions **********************************************************/
/*! END Color Definitions **********************************************************/
/*! END Color Definitions **********************************************************/

/** Header intra-page nav button stylings */
a:hover {
  position: relative;
  top: 1px;
  cursor: pointer;
  text-decoration: underline !important;
  text-decoration-color: #f8f9fa !important;
}

.bottom-shadow {
  box-shadow: var(--hover-shadow);
}

.hover-shadow:hover {
  box-shadow: var(--hover-shadow);
}

.no-hover-shadow:hover {
  box-shadow: none !important;
}

.pointer-style {
  cursor: pointer;
}

/** Underline SVG Styling Rules */
.underline-container {
  position: relative;
  display: inline-block;
}

#underline-svg {
  position: absolute;
  bottom: -2px;
  right: 0px;
  width: 100%;
  height: 2px;
}

#underline-svg-2 {
  position: absolute;
  bottom: -10px;
  right: 0px;
  width: 100%;
  height: 2px;
}

.google-form-wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding: 0;
}

.google-form-wrapper iframe {
  display: block;
  width: 100%;
  max-width: 100%;
  border: 0;
  height: min(85vh, 1400px);
  min-height: 720px;
}

@media (max-width: 768px) {
  .google-form-wrapper iframe {
    height: 90vh;
    min-height: 600px;
  }
}