:root {
  /** Colors */
  --bootstrap-white: #f8f9fa;
}

.navbar {
  transition: background-color 2s ease-in-out;
}

.navbar.scroll {
  background-color: #003a69;
  max-height: 5rem !important;
}

#home-link:hover {
  text-decoration: none !important;
}

hr {
  transition: all 2s ease-in-out;
}

hr.m-0.scroll {
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

#nav-logo-image-div {
  max-width: 15vw;
  /* max-height: 100%; */
}

.logo-image {
  max-height: 100%;
}

/** The following resizes the logo on scroll ****************************/
/* .logo-resize class is added by the navAnimation.js file */
@media screen and (min-width: 1400px) {
  .logo-resize {
    max-width: 10vw;
  }
}
@media screen and (min-width: 2300px) {
  .logo-resize {
    max-width: 8vw;
  }
}
@media screen and (min-width: 3000px) {
  .logo-resize {
    max-width: 5vw;
  }
}
@media screen and (min-width: 3000px) {
  .logo-resize {
    max-width: 2vw;
  }
}

.homegrown-logo-resize {
  max-width: 50% !important;
}
/**********************************  */

@media screen and (max-width: 500px) {
  #nav-logo-image-div {
    max-width: 20vw;
  }
}
@media screen and (max-width: 350px) {
  #nav-logo-image-div {
    max-width: 25vw;
  }
}

.nav-link {
  position: relative;
  /* Prevent the button from changing size on hover */
  flex: 1 1 0;
  min-width: 0;
  box-sizing: border-box;
}

.nav-link:hover {
  text-decoration: none !important;
  /* Ensure button size doesn't change on hover */
  flex: 1 1 0;
  min-width: 0;
}

.nav-link:active {
  position: relative;
  top: 2px;
}

/** Edits the mobile nav dropdown toggle button */
.navbar-toggler {
  color: var(--bootstrap-white) !important;
  border: none;
}

/** Controls the svg icon for mobile nav dropdown menu button */
/* stroke='rgba%28248, 249, 250, 1%29' controls the color. %28 and %29 are the URL Encoding escaped values for ( and ) respectively */
/*  URL encoding is a method of representing special characters within a URL by replacing them with a "%" followed by their ASCII code in hexadecimal representation. */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28248, 249, 250, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.to-hide {
  display: none !important;
}

.mobile-nav-link {
  font-size: 1.5rem;
  height: 5rem !important;
}

.custom-z-index {
  z-index: 99 !important;
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    background-color: #003a69;
  }

  .navbar.scroll .navbar-collapse {
    background-color: #003a69;
  }
}

.navbar.scroll {
  background-color: #003a69;
  max-height: 5rem !important;
}
