.navbar {
  /* background-color: transparent; */
  transition: background-color 2s ease-in-out;
}

.navbar.scroll {
  background-color: #003a69;
}

.navbar-toggler-icon {
  color: #dce0d9;
}

hr {
  transition: all 2s ease-in-out;
}

hr.m-0.scroll {
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.nav-link:hover {
  position: relative;
  top: 1px;
  /** shadow-lg */
  box-shadow: 0 1rem 3rem rgba(33, 37, 41, 0.175);
}

.nav-link:active {
  position: relative;
  top: 3px;
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    background-color: #003a69;
  }

  .navbar.scroll .navbar-collapse {
    background-color: #003a69;
  }
}

.navbar.scroll {
  background-color: #003a69;
}
