:root {
  /** Colors */
  --bootstrap-white: #f8f9fa;
}

.navbar {
  transition: background-color 2s ease-in-out;
}

.navbar.scroll {
  background-color: #003a69;
}

/* .navbar-toggler-icon {
  color: #dce0d9;
} */

hr {
  transition: all 2s ease-in-out;
}

hr.m-0.scroll {
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.nav-link:hover {
  text-decoration: underline;
  /** shadow-lg */
  box-shadow: 0 1rem 3rem rgba(33, 37, 41, 0.175);
}

.nav-link:active {
  position: relative;
  top: 2px;
}

/** Edits the mobile nav dropdown toggle button */
.navbar-toggler {
  color: var(--bootstrap-white) !important;
  /* border-color: var(--bootstrap-white); */
  border: none;
}

/** Controls the svg icon for mobile nav dropdown menu button */
/* stroke='rgba%28248, 249, 250, 1%29' controls the color. %28 and %29 are the escaped values for ( and ) respectively */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28248, 249, 250, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    background-color: #003a69;
  }

  .navbar.scroll .navbar-collapse {
    background-color: #003a69;
  }
}

.navbar.scroll {
  background-color: #003a69;
}
