<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/about.css" />

<section
  class="row gx-5 mx-0 mx-lg-5 overflow-y-auto overflow-x-hidden no-scrollbar min-height-100-vh pb-5"
>
  <section
    id="topology"
    class="bg-light rounded px-0 position-relative overflow-y-hidden overflow-x-hidden"
  >
    <header class="z-1 mb-5 mt-5 position-relative">
      <h1 id="hero-header" class="ms-5 ff-1 mt-4 max-text-width mb-3 z-1">
        Our Story
      </h1>
    </header>

    <main class="row">
      <article
        class="col-lg-6 mt-5 d-flex flex-column aligh-item-start justify-content-center container z-1"
      >
        <h2 class="display-3 w-25 w-fit-content ms-3 ms-lg-5 mb-3">
          An economic vision
        </h2>
        <p class="text-start max-text-width lead ms-3 me-3 ms-lg-5 ps-lg-5">
          Welcome to Penn-Northwest Development Corporation, your steadfast
          partner in business development and expansion.
        </p>
        <p class="text-start max-text-width lead ms-3 me-3 ms-lg-5 ps-lg-5">
          Established in 1985, we have been the cornerstone of economic
          revitalization in Mercer County, fostering a thriving business
          landscape amidst evolving economic dynamics.
        </p>

        <!-- Our dedicated team of
          economic development professionals is committed to providing
          personalized support, ensuring your business not only navigates but
          thrives in the promising yet competitive local market. With a rich
          history of facilitating over $280 million in capital investment, we
          continue to unlock new opportunities, fueling sustainable growth and
          prosperity for businesses and the broader community. Explore our range
          of services designed to elevate your business to new heights of
          success. -->
      </article>
      <aside class="col-lg-6 my-5 mx-0 px-0 d-flex justify-content-center z-1">
        <div class="w-75">
          <img
            src="/assets/images/about/pndc-team-1.png"
            alt=""
            class="img-fluid rounded border"
            crossorigin="anonymous"
          />
        </div>
        <!-- <div class="w-75 shadow-lg">
        </div> -->
      </aside>
      <svg
        class="position-absolute z-0 top-0 end-0 text-end px-0"
        id="svg-1"
        viewBox="0 0 540 640"
        width="840"
        height="940"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
      >
        <rect x="0" y="0" width="960" height="540" fill="#F8f9fa"></rect>
        <g
          transform="translate(492.36494037509357 321.6877774223073) scale(1.2)"
        >
          <path
            d="M177.5 -214C220.8 -175.1 240.4 -110.5 255.6 -42.4C270.8 25.7 281.5 97.2 253.1 145.9C224.7 194.6 157.2 220.4 94 231.9C30.9 243.4 -27.8 240.6 -90.1 226.9C-152.4 213.2 -218.2 188.6 -256.3 139.7C-294.4 90.8 -304.8 17.6 -287.4 -45.5C-270.1 -108.5 -225 -161.5 -172.5 -198.8C-120 -236 -60 -257.5 3.5 -261.7C67.1 -265.9 134.1 -252.8 177.5 -214"
            fill="#f97521"
          ></path>
        </g>
      </svg>

      <section id="section-2" class="container row col-12">
        <aside class="col-lg-6">
          <img
            class="img-fluid"
            src="https://res.cloudinary.com/dypchgtip/image/upload/v1698897526/make-it-in-square_n9c4b6.png"
            alt=""
          />
        </aside>
        <article class="col-lg-6">
          <h1>Section 2 - More founding information</h1>
          <p>
            Add blue blob behind leftmost image after resizing. Make it smaller
            and rounded
          </p>
        </article>
      </section>

      <!-- <svg
        class="position-absolute z-0 top-0 end-0 text-end"
        id="visual"
        viewBox="0 0 540 540"
        width="540"
        height="840"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
      >
        <rect x="0" y="0" width="960" height="540" fill="#F8f9fa"></rect>
        <g transform="translate(740 281.6877774223073) scale(1.2)">
          <path
            d="M177.5 -214C220.8 -175.1 240.4 -110.5 255.6 -42.4C270.8 25.7 281.5 97.2 253.1 145.9C224.7 194.6 157.2 220.4 94 231.9C30.9 243.4 -27.8 240.6 -90.1 226.9C-152.4 213.2 -218.2 188.6 -256.3 139.7C-294.4 90.8 -304.8 17.6 -287.4 -45.5C-270.1 -108.5 -225 -161.5 -172.5 -198.8C-120 -236 -60 -257.5 3.5 -261.7C67.1 -265.9 134.1 -252.8 177.5 -214"
            fill="#f97521"
          ></path>
        </g>
      </svg> -->

      <!-- <div class="position-absolute"></div> -->
    </main>
  </section>
</section>
