<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/about.css" />

<section
  class="row gx-5 mx-0 mx-lg-5 overflow-y-auto overflow-x-hidden no-scrollbar min-height-100-vh pb-5"
>
  <section
    id="topology"
    class="bg-light rounded px-0 position-relative overflow-y-hidden overflow-x-hidden"
  >
    <header class="z-1 mb-5 mt-5 position-relative">
      <h1
        id="hero-header"
        class="ms-2 ms-lg-5 ff-1 mt-4 max-text-width mb-3 z-1"
      >
        Our Story
      </h1>
    </header>

    <main class="row">
      <article
        class="col-lg-6 mt-5 d-flex flex-column aligh-item-start justify-content-center container z-1"
      >
        <h2 class="display-3 w-25 w-fit-content ms-3 ms-lg-5 mb-3">
          An economic vision
        </h2>
        <p class="text-start max-text-width lead ms-3 me-3 ms-lg-5 ps-lg-5">
          Welcome to Penn-Northwest Development Corporation, your steadfast
          partner in business development and expansion.
        </p>
        <p class="text-start max-text-width lead ms-3 me-3 ms-lg-5 ps-lg-5">
          Established in 1985, we have been the cornerstone of economic
          revitalization in Mercer County, fostering a thriving business
          landscape amidst evolving economic dynamics.
        </p>

        <!-- Our dedicated team of
          economic development professionals is committed to providing
          personalized support, ensuring your business not only navigates but
          thrives in the promising yet competitive local market. With a rich
          history of facilitating over $280 million in capital investment, we
          continue to unlock new opportunities, fueling sustainable growth and
          prosperity for businesses and the broader community. Explore our range
          of services designed to elevate your business to new heights of
          success. -->
      </article>
      <aside class="col-lg-6 my-5 mx-0 px-0 d-flex justify-content-center z-1">
        <div class="w-75">
          <img
            src="/assets/images/about/pndc-team-1.png"
            alt=""
            class="img-fluid rounded border"
            crossorigin="anonymous"
          />
        </div>
      </aside>
      <svg
        class="position-absolute z-0 top-0 end-0 text-end px-0"
        id="svg-1"
        viewBox="0 0 540 640"
        width="840"
        height="940"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
      >
        <rect x="0" y="0" width="960" height="540" fill="#F8f9fa"></rect>
        <g
          transform="translate(492.36494037509357 321.6877774223073) scale(1.2)"
        >
          <path
            d="M177.5 -214C220.8 -175.1 240.4 -110.5 255.6 -42.4C270.8 25.7 281.5 97.2 253.1 145.9C224.7 194.6 157.2 220.4 94 231.9C30.9 243.4 -27.8 240.6 -90.1 226.9C-152.4 213.2 -218.2 188.6 -256.3 139.7C-294.4 90.8 -304.8 17.6 -287.4 -45.5C-270.1 -108.5 -225 -161.5 -172.5 -198.8C-120 -236 -60 -257.5 3.5 -261.7C67.1 -265.9 134.1 -252.8 177.5 -214"
            fill="#f97521"
          ></path>
        </g>
      </svg>

      <section id="section-2" class="container row col-12 mb-5">
        <aside
          id="blob-anchor-2"
          class="col-lg-6 d-flex justify-content-center align-items-center position-relative"
        >
          <img
            class="img-fluid rounded w-50 my-5 shadow-lg z-2"
            src="https://res.cloudinary.com/dypchgtip/image/upload/v1698897526/make-it-in-square_n9c4b6.png"
            crossorigin="anonymous"
            alt=""
          />
        </aside>
        <article class="col-lg-6 mt-sm-5">
          <h2 class="display-4 mb-3 ms-3 me-5">And Love for a community</h2>
          <p class="lead max-text-width ms-3 me-lg-5">
            At the heart of Penn-Northwest Development Corporation is an
            unwavering love for the Mercer County community.
          </p>
          <p class="lead max-text-width ms-3 me-lg-5">
            Our dedication extends beyond business growth to nurturing a
            vibrant, prosperous environment where both enterprises and
            individuals can flourish.
          </p>

          <!-- <p>At the heart of Penn-Northwest Development Corporation is an unwavering love for the Mercer County community. 
            Our dedication extends beyond business growth to nurturing a vibrant, prosperous environment where both enterprises and individuals can flourish. 
            With every project we undertake, we aim to bolster the communal fabric, ensuring that the economic progress we foster benefits every member of our cherished community. 
            Our endeavors are rooted in a deep-seated commitment to see Mercer County thrive, reflecting a harmonious blend of economic vitality and communal well-being.</p> -->
        </article>

        <!-- TODO Add more of those undraw things in the continued sections -->
      </section>

      <section
        id="test"
        class="col-12 mt-5 mb-3 d-flex flex-column justify-content-center align-items-center"
      >
        <div class="card mb-5">
          <p class="card-body lead text-center max-text-width mb-0">
            <strong>
              With every project we undertake, we aim to bolster the communal
              fabric, ensuring that the economic progress we foster benefits
              every member of our cherished community.</strong
            >
          </p>
        </div>
        <!-- <blockquote class="blockquote mb-5">
          <p class="max-text-width text-center">
            With every project we undertake, we aim to bolster the communal
            fabric, ensuring that the economic progress we foster benefits every
            member of our cherished community.
          </p>
        </blockquote> -->
        <img
          class="img-fluid w-25 border p-5 shadow-lg"
          src="/assets/images/home/0011.jpg"
          alt=""
        />

        <div class="card mt-5">
          <p class="card-body lead text-center max-text-width mb-0">
            <strong>
              Our endeavors are rooted in a deep-seated commitment to see Mercer
              County thrive, reflecting a harmonious blend of economic vitality
              and communal well-being.</strong
            >
          </p>
        </div>

        <!-- <blockquote class="blockquote mt-5">
          <p class="max-text-width text-center">
            Our endeavors are rooted in a deep-seated commitment to see Mercer
            County thrive, reflecting a harmonious blend of economic vitality
            and communal well-being.
          </p>
        </blockquote> -->
      </section>

      <!--? Staff -->
      <section class="col-12 mx-5 mt-5">
        <h2 class="display-3 text-center mb-5">Meet Our Team</h2>

        <div class="container d-flex flex-wrap justify-content-evenly">
          <!--? Rod Card -->
          <div class="card" style="width: 18rem">
            <img
              src="https://res.cloudinary.com/dypchgtip/image/upload/v1699326885/rod.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
          <div class="card" style="width: 18rem">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
      </section>
    </main>
  </section>
</section>
