<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/about.css" />

<section
  class="row gx-5 mx-0 mx-lg-5 overflow-y-auto overflow-x-hidden no-scrollbar min-height-100-vh pb-5"
>
  <section
    id="topology"
    class="bg-light rounded px-0 position-relative overflow-y-hidden overflow-x-hidden"
  >
    <header class="z-1 mb-5 mt-5 position-relative">
      <h1
        id="hero-header"
        class="ms-2 ms-lg-5 ff-1 mt-4 max-text-width mb-3 z-1"
      >
        Our Story
      </h1>
    </header>

    <main class="row">
      <article
        class="col-lg-6 mt-5 d-flex flex-column aligh-item-start justify-content-center container z-1"
      >
        <h2 class="display-2 w-25 w-fit-content ms-3 ms-lg-5 mb-4">
          An economic vision
        </h2>
        <p
          class="text-start max-text-width lead font-size-5 ms-3 me-3 ms-lg-5 ps-lg-5"
        >
          Welcome to Penn-Northwest Development Corporation, your steadfast
          partner in business development and expansion.
        </p>
        <p
          class="text-start max-text-width lead font-size-5 ms-3 me-3 ms-lg-5 ps-lg-5"
        >
          Established in 1985, we have been the cornerstone of economic
          revitalization in Mercer County, fostering a thriving business
          landscape amidst evolving economic dynamics.
        </p>

        <!-- Our dedicated team of
          economic development professionals is committed to providing
          personalized support, ensuring your business not only navigates but
          thrives in the promising yet competitive local market. With a rich
          history of facilitating over $280 million in capital investment, we
          continue to unlock new opportunities, fueling sustainable growth and
          prosperity for businesses and the broader community. Explore our range
          of services designed to elevate your business to new heights of
          success. -->
      </article>
      <aside class="col-lg-6 my-5 mx-0 px-0 d-flex justify-content-center z-1">
        <div class="w-75">
          <img
            id="group-photo"
            src="/assets/images/about/pndc-team-1.png"
            alt=""
            class="img-fluid rounded border"
            crossorigin="anonymous"
          />
        </div>
      </aside>
      <svg
        class="position-absolute z-0 top-0 end-0 text-end px-0"
        id="svg-1"
        viewBox="0 0 540 640"
        width="840"
        height="940"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
      >
        <rect x="0" y="0" width="960" height="540" fill="#F8f9fa"></rect>
        <g
          transform="translate(492.36494037509357 321.6877774223073) scale(1.2)"
        >
          <path
            d="M177.5 -214C220.8 -175.1 240.4 -110.5 255.6 -42.4C270.8 25.7 281.5 97.2 253.1 145.9C224.7 194.6 157.2 220.4 94 231.9C30.9 243.4 -27.8 240.6 -90.1 226.9C-152.4 213.2 -218.2 188.6 -256.3 139.7C-294.4 90.8 -304.8 17.6 -287.4 -45.5C-270.1 -108.5 -225 -161.5 -172.5 -198.8C-120 -236 -60 -257.5 3.5 -261.7C67.1 -265.9 134.1 -252.8 177.5 -214"
            fill="#f97521"
          ></path>
        </g>
      </svg>

      <section id="section-2" class="container row col-12 mb-5">
        <aside
          id="blob-anchor-2"
          class="col-lg-6 d-flex justify-content-center align-items-center position-relative"
        >
          <img
            class="img-fluid rounded w-50 my-5 shadow-lg z-2"
            src="https://res.cloudinary.com/dypchgtip/image/upload/v1698897526/make-it-in-square_n9c4b6.png"
            crossorigin="anonymous"
            alt=""
          />
        </aside>
        <article class="col-lg-6 mt-sm-5">
          <h2 class="display-3 mb-3 ms-2 me-5">And Love for a community</h2>
          <p class="lead max-text-width font-size-5 ms-5 me-lg-5">
            At the heart of Penn-Northwest Development Corporation is an
            unwavering love for the Mercer County community.
          </p>
          <p class="lead max-text-width font-size-5 ms-5 me-lg-5">
            Our dedication extends beyond business growth to nurturing a
            vibrant, prosperous environment where both enterprises and
            individuals can flourish.
          </p>

          <!-- <p>At the heart of Penn-Northwest Development Corporation is an unwavering love for the Mercer County community. 
            Our dedication extends beyond business growth to nurturing a vibrant, prosperous environment where both enterprises and individuals can flourish. 
            With every project we undertake, we aim to bolster the communal fabric, ensuring that the economic progress we foster benefits every member of our cherished community. 
            Our endeavors are rooted in a deep-seated commitment to see Mercer County thrive, reflecting a harmonious blend of economic vitality and communal well-being.</p> -->
        </article>

        <!-- TODO Add more of those undraw things in the continued sections -->
      </section>

      <!--? All Roads To and Through Mercer County Image Section  -->
      <section
        class="col-12 mt-5 mb-5 d-flex flex-column justify-content-center align-items-center"
      >
        <div class="card mb-5 z-2 position-relative">
          <p class="card-body lead text-center max-text-width mb-0">
            <strong class="">
              With every project we undertake, we aim to bolster the communal
              fabric, ensuring that the economic progress we foster benefits
              every member of our cherished community.</strong
            >
          </p>
        </div>

        <div
          id="to-and-through-blob-anchor"
          class="text-center position-relative z-2"
        >
          <img
            id="to-and-through-image"
            class="img-fluid border p-3 p-md-5 shadow-lg z-2"
            src="/assets/images/home/0011.jpg"
            alt=""
          />
        </div>

        <div class="card mt-5 z-2">
          <p class="card-body lead text-center max-text-width mb-0">
            <strong>
              Our endeavors are rooted in a deep-seated commitment to see Mercer
              County thrive, reflecting a harmonious blend of economic vitality
              and communal well-being.</strong
            >
          </p>
        </div>
      </section>
      <!-- End All Roads Section -->

      <hr class="mb-0" />

      <!--? Staff -->
      <section class="col-12 my-5">
        <h2 class="display-2 text-center mb-5 pb-3">Meet Our Team</h2>

        <div
          class="container d-flex flex-wrap justify-content-evenly align-items-start mt-5"
        >
          <!--? Rod Card -->
          <div class="card shadow-lg staff-cards">
            <img
              src="https://res.cloudinary.com/dypchgtip/image/upload/v1699326885/rod.jpg"
              crossorigin="anonymous"
              class="card-img-top p-3 shadow-lg border border-primary-subtle"
              alt=""
            />
            <div class="card-body">
              <h4 class="card-title">Rod E. Wilt</h4>
              <h6 class="card-subtitle mb-3 text-body-secondary">
                Executive Director
              </h6>
              <p class="card-text">
                Rod brings over three decades of diverse experience to his role
                as Executive Director of Penn-Northwest, drawing from his
                background in government, finance, and real estate.
              </p>
              <p class="card-text">
                A local to Mercer County with education from Greenville High
                School and Thiel College, he spent his early career at financial
                institutions including First National Bank in Hermitage, PA, and
                served five terms in the PA House of Representatives.
              </p>
              <p class="card-text">
                Since 2008, he has been involved in the acquisition and
                management of over 3,500 multi-family apartment units. Rod also
                brings to PNDC six years of experience in legislative outreach,
                issues education and government relations from his experience
                working with several clients in the oil & gas, pharmaceutical
                and manufacturing industries, as well as serving as the Chair of
                the Thiel College Board of Trustees.
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a
                  class="text-decoration-underline"
                  href="mailto:rwilt@penn-northwest.com"
                  >rwilt@penn-northwest.com</a
                >
              </li>
              <li class="list-group-item">Work: 724-662-3705</li>
              <li class="list-group-item">Cell: 724-813-4798</li>
              <li class="list-group-item">Fax: 724-662-0283</li>
            </ul>
            <div class="card-body">
              <a
                class="mx-3 no-blue"
                href="https://www.linkedin.com/in/rod-wilt-939963a0/"
                target="_blank"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="30"
                  fill="currentColor"
                  class="text-dark bi bi-linkedin"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"
                  ></path>
                </svg>
              </a>
            </div>
          </div>
          <!-- End Rod Card -->
          <!--? Gary Card -->
          <div class="card shadow-lg staff-cards">
            <img
              src="https://res.cloudinary.com/dypchgtip/image/upload/v1699326885/gary.jpg"
              crossorigin="anonymous"
              class="card-img-top p-3 shadow-lg border border-warning-subtle"
              alt=""
            />
            <div class="card-body">
              <h4 class="card-title">Gary T. Dovey</h4>
              <h6 class="card-subtitle mb-3 text-body-secondary">
                VP, Business Development, PNDC
              </h6>
              <p class="card-text">
                Gary Dovey is a senior development, recruitment, and land
                planning executive with a successful 15-year record of assisting
                communities by attracting and financing industries that create
                family-wage sustaining jobs.
              </p>
              <p class="card-text">
                Gary has served with communities and businesses in the counties
                of Butler, Clearfield, Crawford, Jefferson, Mercer and Venango
                in Pennsylvania. He excels in land planning and recruitment
                strategies, expanding industries and building/filling industrial
                parks.
              </p>
              <p class="card-text">
                Gary holds a BS in Public Administration from Slippery Rock
                University and stands ready to meet your expansion/relocation
                needs. He looks forward to helping your business grow in Mercer
                County.
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a
                  class="text-decoration-underline"
                  href="mailto:GTD@penn-northwest.com"
                  >GTD@penn-northwest.com</a
                >
              </li>
              <li class="list-group-item">Work: 724-662-3705</li>
              <li class="list-group-item">Cell: 724-866-4209</li>
              <li class="list-group-item">Fax: 724-662-0283</li>
            </ul>
            <div class="card-body">
              <a
                class="mx-3 no-blue"
                href="https://www.linkedin.com/in/gary-dovey-5559192/"
                target="_blank"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="30"
                  fill="currentColor"
                  class="text-dark bi bi-linkedin"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"
                  ></path>
                </svg>
              </a>
            </div>
          </div>
          <!-- End Gary Card -->
          <!--? Melinda Card -->
          <div class="card shadow-lg staff-cards">
            <img
              src="https://res.cloudinary.com/dypchgtip/image/upload/v1699326885/melinda.jpg"
              crossorigin="anonymous"
              class="card-img-top p-3 shadow-lg border border-primary-subtle"
              alt=""
            />
            <div class="card-body">
              <h4 class="card-title">Melinda Bowen-Houck</h4>
              <h6 class="card-subtitle mb-3 text-body-secondary">
                Director of Marketing
              </h6>
              <p class="card-text">
                Melinda Bowen-Houck is a native of Youngstown, Ohio and
                graduated from Youngstown State University with a Bachelor of
                Science in Business Administration degree from the Williamson
                College of Business.
              </p>
              <p class="card-text">
                Previously, she worked for Ronald McDonald House Charities of
                the Mahoning Valley & Western PA, WYSU 88.5 FM, and Simon
                Roofing and Sheet Metal.
              </p>
              <p class="card-text">
                Melinda brings extensive public relations, events planning,
                fundraising, grant writing and organizational skills to
                Penn-Northwest.
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a
                  class="text-decoration-underline"
                  href="mailto:melinda@penn-northwest.com"
                  >melinda@penn-northwest.com</a
                >
              </li>
              <li class="list-group-item">Work: 724-662-3705</li>
              <li class="list-group-item">Fax: 724-662-0283</li>
            </ul>
            <div class="card-body">
              <a
                class="mx-3 no-blue"
                href="https://www.linkedin.com/in/melinda-bowen-houck-81544619b/"
                target="_blank"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="30"
                  fill="currentColor"
                  class="text-dark bi bi-linkedin"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"
                  ></path>
                </svg>
              </a>
            </div>
          </div>
          <!-- End Melinda Card -->
          <!--? Kerri Card -->
          <div class="card shadow-lg staff-cards">
            <img
              src="https://res.cloudinary.com/dypchgtip/image/upload/v1699326885/kerri.jpg"
              crossorigin="anonymous"
              class="card-img-top p-3 shadow-lg border border-warning-subtle"
              alt=""
            />
            <div class="card-body">
              <h4 class="card-title">Kerri Ericksen</h4>
              <h6 class="card-subtitle mb-3 text-body-secondary">
                Office Administrator
              </h6>
              <p class="card-text">
                Kerri has joined the Penn-Northwest Development Corporation team
                as Office Administrator and Project Coordinator, bringing over
                two decades of experience from her family's manufacturing
                business in Reynolds Industrial Park.
              </p>
              <p class="card-text">
                Her expertise spans office administration, project management,
                and collaborative endeavors with many of PNDC&rsquo;s members
                and industry sectors.
              </p>
              <p class="card-text">
                Before her tenure in the family business, Kerri honed her
                customer engagement and sales skills at Winner International,
                interacting with clients daily and gaining essential experience
                in customer relations.
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a
                  class="text-decoration-underline"
                  href="mailto:kerri@penn-northwest.com"
                  >kerri@penn-northwest.com</a
                >
              </li>
              <li class="list-group-item">Work: 724-662-3705</li>
              <li class="list-group-item">Fax: 724-662-0283</li>
            </ul>
            <!-- <div class="card-body">
              <a
                class="mx-3 no-blue"
                href="https://www.linkedin.com/in/melinda-bowen-houck-81544619b/"
                target="_blank"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="30"
                  fill="currentColor"
                  class="text-dark bi bi-linkedin"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"
                  ></path>
                </svg>
              </a>
            </div> -->
          </div>
          <!-- End Kerri Card -->
          <!--? Ellen Card -->
          <div class="card shadow-lg staff-cards">
            <img
              src="https://res.cloudinary.com/dypchgtip/image/upload/v1699326885/ellen.jpg"
              crossorigin="anonymous"
              class="card-img-top p-3 shadow-lg border border-primary-subtle"
              alt=""
            />
            <div class="card-body">
              <h4 class="card-title">Ellen Pardee</h4>
              <h6 class="card-subtitle mb-3 text-body-secondary">
                Project Coordinator
              </h6>
              <p class="card-text">
                Ellen is a long-time resident of Mercer County. She graduated
                from Lakeview High School and earned a Multi-Disciplinary
                Bachelor&rsquo;s Degree in Business and Counseling, starting at
                Clarion University and finishing at Liberty University.
              </p>
              <p class="card-text">
                Joining Greenville Area Economic Development Corporation in May
                2018, she quickly advanced to Director by August 2019.
              </p>
              <p class="card-text">
                As Mercer County's ENGAGE! representative, Ellen is active in
                various boards including United Way, Shenango Valley Enterprise
                Zone, and others. She's also involved with Penn-Northwest's
                Sites Committee, the local Chamber of Commerce, and economic
                development groups. Her broad work background, combined with
                strong interpersonal and event-planning skills, fuels her
                dedication to the region, benefiting local business and
                workforce development.
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a
                  class="text-decoration-underline"
                  href="mailto:ellen@penn-northwest.com"
                  >ellen@penn-northwest.com</a
                >
              </li>
              <li class="list-group-item">Work: 724-662-3705</li>
              <li class="list-group-item">Fax: 724-662-0283</li>
            </ul>
            <div class="card-body">
              <a
                class="mx-3 no-blue"
                href="https://www.linkedin.com/in/ellen-pardee-05a9b6167/"
                target="_blank"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="30"
                  fill="currentColor"
                  class="text-dark bi bi-linkedin"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"
                  ></path>
                </svg>
              </a>
            </div>
          </div>
          <!-- End Ellen Card -->
          <!--? Jake Card -->
          <div class="card shadow-lg staff-cards">
            <img
              src="https://res.cloudinary.com/dypchgtip/image/upload/v1699326885/jake.jpg"
              crossorigin="anonymous"
              class="card-img-top p-3 shadow-lg border border-warning-subtle"
              alt=""
            />
            <div class="card-body">
              <h4 class="card-title">Jake Rickert</h4>
              <h6 class="card-subtitle mb-3 text-body-secondary">
                Director of Workforce Development
              </h6>
              <p class="card-text">
                Jake Rickert is the newest member on the Penn-Northwest team. As
                a home grown local, he was born and raised in Greenville,
                Pennsylvania and graduated from Penn-State Shenango with a
                Bachelor of Arts in Corporate Communications.
              </p>
              <p class="card-text">
                Prior to Penn-Northwest, Jake served in the United States Army
                for four years. He currently services in the National Guard as a
                Staff Sergeant for an Infantry Company. His knowledge of
                external and internal communications, strategic analysis, and
                public relations assists in his efforts towards workforce
                development, the Future Leaders, and the revitalization of
                Mercer County.
              </p>
              <p class="card-text">
                He plans to continue his education through federal and state
                level grant writing courses. Jake is excited to begin his career
                in economic development and looks forward to helping Mercer
                County flourish with the staff at Penn-Northwest!
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a
                  class="text-decoration-underline"
                  href="mailto:jake@penn-northwest.com"
                  >jake@penn-northwest.com</a
                >
              </li>
              <li class="list-group-item">Work: 724-662-3705</li>
              <li class="list-group-item">Fax: 724-662-0283</li>
            </ul>
            <div class="card-body">
              <a
                class="mx-3 no-blue"
                href="https://www.linkedin.com/in/jacob-rickert-264212185/"
                target="_blank"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="30"
                  fill="currentColor"
                  class="text-dark bi bi-linkedin"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"
                  ></path>
                </svg>
              </a>
            </div>
          </div>
          <!-- End Jake Card -->
        </div>
      </section>
      <!-- End Staff Section -->

      <!--? Our Mission  -->
      <section id="our-mission" class="col-12 my-5">
        <header class="row">
          <div class="col-lg-6 mb-5">
            <h2
              id="our-mission-header"
              class="ff-1 ms-1 ms-lg-5 mt-4 max-text-width mb-3 z-1"
            >
              Our Mission
            </h2>

            <p class="max-text-width lead font-size-5 mx-3 ms-lg-5 ps-lg-5">
              Penn-Northwest Development Corporation was born out of a necessity
              to confront and overcome the economic challenges faced by Mercer
              County. Witnessing the effects of industrial downturns and the
              need for sustainable economic revitalization, our mission is
              clear: to proactively address these challenges with robust
              solutions.
            </p>
            <p class="max-text-width lead font-size-5 mx-3 ms-lg-5 ps-lg-5">
              We are deeply invested in Mercer County's prosperity, not merely
              because it is our home, but because we believe in the potential
              and resilience of its people. Our commitment to economic
              development is, at its core, a commitment to the community's
              future—fueling growth, opportunity, and a better quality of life
              for every resident.
            </p>
          </div>

          <div
            class="col-lg-6 d-flex justify-content-center align-items-center"
          >
            <img
              class="img-fluid"
              src="/assets/svgs/about/mission.svg"
              alt="A fun little drawing that illustrates our mission :)"
            />
          </div>
        </header>

        <article class="container my-5">
          <h3 class="text-center display-3 mb-5 border-bottom">
            Our Mission in Action:
          </h3>
          <div class="ratio ratio-16x9 shadow-lg">
            <iframe
              class="rounded shadow-lg border"
              width="560"
              height="315"
              src="https://www.youtube.com/embed/5FrL7Or5NOg?si=0XsnsfQstPVc7M7m"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen=""
            ></iframe>
          </div>
        </article>
      </section>

      <!--? Our Resolution and Results -->
      <section class="col-12 row my-5">
        <h4 class="text-center mb-5 pb-5 display-5">One step at a time</h4>
        <!--? Peg 1 - Amount Raised -->
        <div
          class="col-lg-6 border-end border-dark-subtle border-sm-none pe-0 mb-5 mb-lg-0 position-relative d-flex flex-column align-items-center"
        >
          <div class="peg-left border-bottom border-dark-subtle"></div>

          <img
            class="img-fluid mw-50 rounded shadow-lg border"
            src="https://res.cloudinary.com/dypchgtip/image/upload/v1699502509/0007_uoy8km.jpg"
            alt="Money Raised"
            crossorigin="anonymous"
          />

          <div class="card mt-5 shadow-lg">
            <p class="lead max-text-width text-center mb-0 px-3 py-3">
              Since the launch of their "Make it Mercer!" campaign, we've
              generated over $280 million in capital investment in the county.
            </p>
          </div>
        </div>
        <!-- This controls div spacing on large screens -->
        <div class="col-6 d-none d-lg-block"></div>

        <!--? Peg 2 - Business Action Team  -->
        <!-- This controls div spacing on large screens -->
        <div
          class="col-6 d-none d-lg-block pe-0 border-end border-dark-subtle"
        ></div>
        <div
          class="col-lg-6 border-sm-none ps-0 mb-5 mb-lg-0 mt-5 mt-lg-0 position-relative d-flex flex-column align-items-center"
        >
          <div
            id="peg-2"
            class="peg-right border-bottom border-dark-subtle"
          ></div>

          <img
            class="img-fluid mw-50 rounded shadow-lg border"
            src="https://res.cloudinary.com/dypchgtip/image/upload/v1699503166/Mercer-County-500-mile-radius-map_lvisd6.jpg"
            alt="Money Raised"
            crossorigin="anonymous"
          />

          <div class="card mt-5 shadow-lg">
            <p class="lead max-text-width text-center mb-0 px-3 py-3">
              Our Business Action Team (B.A.T.) at leads the charge in
              supporting Mercer County's economic development with focused
              assistance and training, targeting new industry recruitment,
              entrepreneurship, and workforce development for immediate and
              long-term community goals.
            </p>
          </div>
        </div>
        <!--? Peg 3 - Program of Work  -->
        <!-- This controls div spacing on large screens -->
        <div
          class="col-lg-6 border-end border-dark-subtle border-sm-none pe-0 mb-5 mt-5 mt-lg-0 mb-lg-0 position-relative d-flex flex-column align-items-center"
        >
          <div class="peg-left border-bottom border-dark-subtle"></div>

          <img
            class="img-fluid mw-50 rounded shadow-lg border"
            src="https://res.cloudinary.com/dypchgtip/image/upload/v1699504756/pndc-program-of-work-cover_awbenm.png"
            alt="Money Raised"
            crossorigin="anonymous"
          />

          <div class="card mt-5 shadow-lg">
            <p class="lead max-text-width text-center mb-0 px-3 py-3">
              Each year, we prepare a
              <a
                class="text-decoration-underline text-primary"
                target="_blank"
                href="/assets/pdf/program-of-work.pdf"
                >Program of Work</a
              >, carefully designed with very specific, measurable goals and
              objectives to help us execute the strategies needed to increase
              the prosperity of Mercer County. This plan also gives us the
              framework for providing our Board, membership, stakeholders, and
              the community with quantifiable results related to the various
              goals set forth.
            </p>
          </div>
        </div>
        <div class="col-6 d-none d-lg-block"></div>

        <!--? Peg 4 - Business Action Team  -->
        <!-- This controls div spacing on large screens -->
        <div
          class="col-6 d-none d-lg-block pe-0 border-end border-dark-subtle"
        ></div>
        <div
          class="col-lg-6 border-sm-none ps-0 mb-5 mt-5 mt-lg-0 position-relative d-flex flex-column align-items-center"
        >
          <div
            id="peg-2"
            class="peg-right border-bottom border-dark-subtle"
          ></div>

          <img
            class="img-fluid mw-75 rounded shadow-lg border"
            src="https://res.cloudinary.com/dypchgtip/image/upload/v1699581492/Mercer-County-Industries-Pie-Chart_ezsu9u.png"
            alt="Money Raised"
            crossorigin="anonymous"
          />

          <div class="card mt-5 shadow-lg">
            <p class="lead max-text-width text-center mb-0 px-3 py-3">
              Mercer County is home to a
              <a
                class="text-decoration-underline text-primary"
                href="/assets/pdf/Mercer_County_Top_50.pdf"
                target="_blank"
                >plethora of employers</a
              >
              across various industries, and we provide essential connections to
              this rich network, facilitating growth and opportunity for
              businesses in the region.
            </p>
          </div>
        </div>
      </section>

      <section id="testimonials" class="col-12 my-5 mx-0">
        <header class="d-flex justify-content-center d-lg-block mb-5">
          <h2
            id="testimonials-header"
            class="ff-1 ms-1 ms-lg-5 mt-4 max-text-width mb-3 z-1"
          >
            But Don't Just Take Our Word for it!
          </h2>
        </header>

        <div
          id="customer-testimonial-video-blob-anchor"
          class="d-flex justify-content-center"
        >
          <div
            id="customer-testimonial-video-1"
            class="ratio ratio-16x9 shadow-lg flex-grow-1 position-relative z-2"
          >
            <iframe
              class="rounded shadow-lg border"
              width="560"
              height="315"
              src="https://www.youtube.com/embed/_fU-q-ebFH0?si=maZClYsDnvCV3PFH"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen=""
            ></iframe>
          </div>
          <!-- <article
            class="flex-grow-1 custom-container d-flex justify-content-center"
          ></article> -->
        </div>

        <!--? Two row section -->
        <div id="customer-testimonials-second-section" class="row">
          <!--? Testimonial Video 2 -->
          <div class="col-lg-6 d-flex justify-content-center">
            <div
              id="customer-testimonial-video-2"
              class="ratio ratio-16x9 shadow-lg flex-grow-1 position-relative z-2"
            >
              <iframe
                class="rounded shadow-lg border"
                width="560"
                height="315"
                src="https://www.youtube.com/embed/bUmUwStgt78?si=xZr0n7SN98n8fptj"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen=""
              ></iframe>
            </div>
          </div>

          <div class="col-lg-6 d-flex justify-content-center">
            <!--? Testimonial Video 3 -->
            <div
              id="customer-testimonial-video-3"
              class="ratio ratio-16x9 shadow-lg flex-grow-1 position-relative z-2"
            >
              <iframe
                class="rounded shadow-lg border"
                width="560"
                height="315"
                src="https://www.youtube.com/embed/ZSD3-oXjkME?si=TyKlRNuMRmEvN6XI"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen=""
              ></iframe>
            </div>
          </div>
        </div>

        <div id="blockquote" class="d-flex justify-content-evenly flex-wrap">
          <figure class="mb-5">
            <blockquote class="blockquote max-text-width">
              <p>
                PNDC understands what businesses - bother large and small - need
                to succeed in our area. We have called Mercer County our home
                for over 100 years now and we will continue to rely on and
                partner with PNDC.
              </p>
            </blockquote>
            <figcaption class="blockquote-footer">
              David George,
              <cite title="Source Title">President of Joy Cone Company</cite>
            </figcaption>
          </figure>
          <figure>
            <blockquote class="blockquote max-text-width">
              <p>
                Organizations like PNDC that operate as a regional member in
                this collaboration are invaluable to the rebirth of this area.
                It is the right time to be part of the right organization with
                the right vision; Alcon mechanical strongly recommends joining
                PNDC.
              </p>
            </blockquote>
            <figcaption class="blockquote-footer">
              Bob Summers,
              <cite title="Source Title">Alcon Mechanical</cite>
            </figcaption>
          </figure>
        </div>
      </section>
    </main>
  </section>
</section>
