<% layout('layouts/boilerplate') %>
<section
  class="row gx-5 mx-0 mx-lg-5 overflow-y-auto no-scrollbar min-height-100-vh pb-5"
>
  <section class="bg-light">
    <h1 class="ff-2 mt-4 max-text-width display-3 mb-3">Events Page</h1>
  </section>
</section>
