<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/events.css" />
<link rel="stylesheet" href="/css/buttons.css" />

<section
  class="row gx-5 mx-0 mx-lg-5 overflow-y-auto no-scrollbar min-height-100-vh pb-5"
>
  <section class="bg-light rounded px-0">
    <header id="header" class="position-relative">
      <img
        class="img-fluid rounded shadow-lg"
        srcset="
          /assets/images/events/event-1-640w.jpg   640w,
          /assets/images/events/event-1-1920w.jpg 1920w
        "
        sizes="(max-width: 640px) 640px, 1920px"
        src="/assets/images/events/event-1-1920w.jpg"
        alt=""
      />
      <h1
        class="animate__animated animate__fadeInDown position-absolute top-0 start-0 display-1 ff-4 h1-heading-margin-top mb-3 text-center w-100 text-light"
      >
        Upcoming Events
      </h1>

      <div
        id="call-to-action-button-div"
        class="position-absolute top-0 w-100 d-flex justify-content-center"
      >
        <a
          href="#icon-divider"
          id="call-to-action-button"
          class="rounded btn-background-slide my-4 d-none d-md-flex ff-4"
        >
          Click to Explore!
          <i class="gg-arrow-right d-inline-block"></i>
          <div
            class="text-light btn-background-slide--blue btn-background-slide-bg"
          ></div>
        </a>
      </div>
    </header>

    <main class="pb-5 d-flex flex-column align-items-center">
      <header class="text-center d-flex flex-column align-items-center">
        <h2 class="display-5 mt-5">
          Connecting Mercer County Business and Development
        </h2>
        <p class="lead mt-3 max-text-width">
          This a little bit of placeholder text aint it neat?
        </p>
      </header>
      <% if (currentUser && currentUser.role === 'user') {%>
      <p>Hello, <%= currentUser %>!</p>
      <% } %>

      <!--* Vertical Rule -->
      <div class="d-flex justify-content-center my-3" style="height: 12.5rem">
        <div class="vr"></div>
      </div>

      <!--* Event example -->
      <section class="row container">
        <aside class="col-lg-6 d-flex flex-column align-items-center">
          <img
            class="img-fluid event-image mb-4"
            src="https://www.penn-northwest.com/wp-content/uploads/2023/07/Imparo-logo-final-large-1.png"
            alt=""
          />
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item bg-light">This is a descriptor test</li>
            <li class="list-group-item bg-light">
              A second item and other stuff
            </li>
            <li class="list-group-item bg-light">A third item</li>
            <li class="list-group-item bg-light">A fourth item</li>
            <li class="list-group-item bg-light">And a fifth one</li>
          </ul>
        </aside>

        <article class="col-lg-6 d-flex flex-column align-items-center">
          <h3 class="display-6 event-article-heading text-decoration-underline">
            Imparo Coaching
          </h3>
          <p class="text-center mb-3">
            This is a description of the event, sit amet consectetur adipisicing
            elit. Deleniti quas, sed temporibus quos quaerat ipsa, laborum
            earum?
          </p>

          <hr />
          <p><strong>Price: </strong></p>
          <hr />

          <!--* The buy ticket form -->
          <form action="" method="post">
            <div class="mb-3">
              <select
                id="date-select"
                class="form-select"
                aria-label="Default select example"
              >
                <option selected>
                  Select which date you would like to attend
                </option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="ticketNumber" class="form-label">Tickets:</label>
              <input type="number" class="form-control" id="ticketNumber" />
            </div>

            <button class="btn btn-success" type="submit">Checkout</button>
          </form>
        </article>
      </section>
    </main>
  </section>
</section>
