<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/events.css" />
<link rel="stylesheet" href="/css/buttons.css" />

<section
  class="row gx-5 mx-0 mx-lg-5 overflow-y-auto no-scrollbar min-height-100-vh pb-5"
>
  <section class="bg-light rounded px-0">
    <header id="header" class="position-relative">
      <img
        class="img-fluid rounded shadow-lg"
        srcset="
          /assets/images/events/event-1-640w.jpg   640w,
          /assets/images/events/event-1-1920w.jpg 1920w
        "
        sizes="(max-width: 640px) 640px, 1920px"
        src="/assets/images/events/event-1-1920w.jpg"
        alt=""
      />
      <h1
        class="animate__animated animate__fadeInDown position-absolute top-0 start-0 display-1 ff-4 h1-heading-margin-top mb-3 text-center w-100 text-light"
      >
        Upcoming Events
      </h1>

      <div
        id="call-to-action-button-div"
        class="position-absolute top-0 w-100 d-flex justify-content-center"
      >
        <a
          href="#icon-divider"
          id="call-to-action-button"
          class="rounded btn-background-slide my-4 d-none d-md-flex ff-4"
        >
          Click to Explore!
          <i class="gg-arrow-right d-inline-block"></i>
          <div
            class="text-light btn-background-slide--blue btn-background-slide-bg"
          ></div>
        </a>
      </div>
    </header>

    <main class="pb-5">
      <header class="text-center d-flex flex-column align-items-center">
        <h2 class="display-5 mt-5">
          Connecting Mercer County Business and Development
        </h2>
        <p class="lead mt-3 max-text-width">
          This a little bit of placeholder text aint it neat?
        </p>
      </header>
      <!--* Vertical Rule -->
      <div class="d-flex justify-content-center" style="height: 200px">
        <div class="vr"></div>
      </div>
    </main>
  </section>
</section>
