<% layout('layouts/boilerplate') %>
<section
  class="row gx-5 pt-5 mx-5 bg-light rounded shadow-lg border border-dark-subtle overflow-y-auto no-scrollbar min-height-100-vh pb-5"
>
  <h1 class="ff-2 mt-4 max-text-width display-3 mb-3 border-bottom border-2">
    Events Page
  </h1>
</section>
