<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/events.css" />

<section
  class="row gx-5 mx-0 mx-lg-5 overflow-y-auto no-scrollbar min-height-100-vh pb-5"
>
  <section class="bg-light rounded px-0">
    <header id="header" class="position-relative">
      <img
        class="img-fluid rounded shadow-lg"
        srcset="
          /assets/images/events/event-1-640w.jpg   640w,
          /assets/images/events/event-1-1920w.jpg 1920w
        "
        sizes="(max-width: 640px) 640px, 1920px"
        src="/assets/images/events/event-1-1920w.jpg"
        alt=""
      />
      <h1
        class="animate__animated animate__fadeInDown position-absolute top-0 start-0 display-1 ff-4 h1-heading-margin-top mb-3 text-center w-100 text-light"
      >
        Upcoming Events
      </h1>
      <p>Test</p>
    </header>
  </section>
</section>
