<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/home.css" />
<link rel="stylesheet" href="/css/buttons.css" />

<!--* div is used to shift content down -->
<!-- section contains main content -->
<section
  class="row gx-5 pt-5 mx-lg-5 bg-light rounded-top shadow-lg border border-dark-subtle overflow-y-auto no-scrollbar min-height-100-vh pb-5"
>
  <div class="col-lg-6 text-start">
    <article class="container">
      <h1
        class="ff-2 mt-4 max-text-width display-3 mb-3 border-bottom border-2"
      >
        Your Partner in Success
      </h1>
      <p class="ff-4 font-size-6 letter-spacing-1 mt-4">
        Welcome to Penn-Northwest Development Corporation, your trusted partner
        for economic development in Northwestern Pennsylvania. We are a
        non-profit organization dedicated to promoting business growth,
        community revitalization, and job creation in the region.
      </p>
      <p class="ff-4 font-size-6 letter-spacing-1 mt-4 mb-5 mb-lg-0">
        With over 40 years of experience, we have a proven track record of
        success in attracting and retaining businesses, supporting
        entrepreneurs, and fostering economic growth. Our team of experts is
        committed to providing you with the resources, guidance, and support you
        need to achieve your business goals.
      </p>

      <a
        href="/"
        id="work-button"
        class="btn btn-background-slide mt-4 mb-4 d-none d-lg-flex ff-4"
      >
        Take the Tour
        <!-- <i class="gg-arrow-right d-inline-block"></i> -->
        <div
          class="text-light btn-background-slide--blue btn-background-slide-bg"
        ></div>
      </a>
    </article>
  </div>

  <!--* All Roads Lead to Mercer County Card/Picture -->
  <div class="col-lg-6 mb-5">
    <article class="container">
      <div class="px-0 card position-static text-start shadow-lg">
        <div class="card-header px-5 background-mercer-county-blue">
          <div>
            <!--* xl+ screens -->
            <h2 class="font-size-2 ff-1 text-light d-none d-xl-block">
              PENN-NORTHWEST
            </h2>
            <!--* Large Screen -->
            <h2 class="font-size-3 ff-1 text-light d-xl-none">
              PENN-NORTHWEST
            </h2>
            <p class="ff-2 mb-0 text-light lead mercer-county-yellow">
              Building communities that thrive together
            </p>
          </div>
        </div>

        <div class="mw-100 text-center my-3">
          <img
            class="img-fluid w-90 mw-90 h-auto shadow-lg border rounded"
            src="/assets/images/home/0011.jpg"
            alt="All roads lead to and through Mercer County"
          />
        </div>
        <div class="card-footer text-body-secondary px-5">
          <small
            >Whether you are a local business owner, an entrepreneur looking to
            start a new venture, or a company looking to relocate or expand,
            Penn-Northwest Development Corporation is here to help. Explore our
            website to learn more about our programs, services, and success
            stories, and contact us to find out how we can help you grow your
            business and achieve your vision for the future.
          </small>
        </div>
      </div>
    </article>
  </div>

  <!--*  -->
  <div id="test-color" class="my-5 p-5 shadow-lg">
    <h1>Test</h1>
    <h1>Test</h1>
    <h1>Test</h1>
    <h1>Test</h1>
    <h1>Test</h1>
    <h1>Test</h1>
    <h1>Test</h1>
  </div>

  <div class="mt-5">
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
    <h1>Test 2</h1>
  </div>
</section>

<!--* Script for moving main content down to account for Header -->
<!-- <script src="/js/NavMargin.js"></script>
<script src="/js/SetMaxHeight.js"></script>
<script src="/js/SetWidth.js"></script>
<script src="/js/SetMaxWidth.js"></script> -->
