<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/home.css" />

<section id="main" class="blue-gradient max-height-100-vh">
  <article
    class="mx-5 bg-light rounded border shadow-lg overflow-y-auto max-height-85-vh"
  >
    <h1 class="text-center ff-1 font-size-2 mt-4">Mercer County</h1>

    <p class="ff-4 letter-spacing-1 max-text-width">
      Penn-Northwest is a conduit and catalyst for economic growth and
      prosperity in Mercer County. We exist to enrich the lives of those who
      live, learn, work, and play in Mercer County by attracting investment that
      creates and/or retains economically sustaining jobs.
    </p>
    <p class="ff-4 letter-spacing-1 max-text-width">
      Penn-Northwest is a conduit and catalyst for economic growth and
      prosperity in Mercer County. We exist to enrich the lives of those who
      live, learn, work, and play in Mercer County by attracting investment that
      creates and/or retains economically sustaining jobs.
    </p>
    <p class="ff-4 letter-spacing-1 max-text-width">
      Penn-Northwest is a conduit and catalyst for economic growth and
      prosperity in Mercer County. We exist to enrich the lives of those who
      live, learn, work, and play in Mercer County by attracting investment that
      creates and/or retains economically sustaining jobs.
    </p>
    <p class="ff-4 letter-spacing-1 max-text-width">
      Penn-Northwest is a conduit and catalyst for economic growth and
      prosperity in Mercer County. We exist to enrich the lives of those who
      live, learn, work, and play in Mercer County by attracting investment that
      creates and/or retains economically sustaining jobs.
    </p>
    <p class="ff-4 letter-spacing-1 max-text-width">
      Penn-Northwest is a conduit and catalyst for economic growth and
      prosperity in Mercer County. We exist to enrich the lives of those who
      live, learn, work, and play in Mercer County by attracting investment that
      creates and/or retains economically sustaining jobs.
    </p>
    <p class="ff-4 letter-spacing-1 max-text-width">
      Penn-Northwest is a conduit and catalyst for economic growth and
      prosperity in Mercer County. We exist to enrich the lives of those who
      live, learn, work, and play in Mercer County by attracting investment that
      creates and/or retains economically sustaining jobs.
    </p>
    <p class="ff-4 letter-spacing-1 max-text-width">
      Penn-Northwest is a conduit and catalyst for economic growth and
      prosperity in Mercer County. We exist to enrich the lives of those who
      live, learn, work, and play in Mercer County by attracting investment that
      creates and/or retains economically sustaining jobs.
    </p>
    <p class="ff-4 letter-spacing-1 max-text-width">
      Penn-Northwest is a conduit and catalyst for economic growth and
      prosperity in Mercer County. We exist to enrich the lives of those who
      live, learn, work, and play in Mercer County by attracting investment that
      creates and/or retains economically sustaining jobs.
    </p>
    <p class="ff-4 letter-spacing-1 max-text-width">
      Penn-Northwest is a conduit and catalyst for economic growth and
      prosperity in Mercer County. We exist to enrich the lives of those who
      live, learn, work, and play in Mercer County by attracting investment that
      creates and/or retains economically sustaining jobs.
    </p>
    <p class="ff-4 letter-spacing-1 max-text-width">
      Penn-Northwest is a conduit and catalyst for economic growth and
      prosperity in Mercer County. We exist to enrich the lives of those who
      live, learn, work, and play in Mercer County by attracting investment that
      creates and/or retains economically sustaining jobs.
    </p>
    <p class="ff-4 letter-spacing-1 max-text-width">
      Penn-Northwest is a conduit and catalyst for economic growth and
      prosperity in Mercer County. We exist to enrich the lives of those who
      live, learn, work, and play in Mercer County by attracting investment that
      creates and/or retains economically sustaining jobs.
    </p>

    <p>Test</p>
  </article>
</section>
<!--* Script for moving main content down to account for Header -->
<script src="/js/NavMargin.js"></script>
