<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/home.css" />
<link rel="stylesheet" href="/css/buttons.css" />
<link rel="stylesheet" href="/css/col-calc.css" />

<!--* section is used to shift content down -->
<!-- section contains main content -->

<section
  class="row gx-5 mx-0 mx-lg-5 overflow-y-auto no-scrollbar min-height-100-vh pb-5"
>
  <section class="row mx-0 py-5 hero-gradient rounded">
    <!--? XXL Screen -->
    <div class="d-none d-xxl-block col-xxl-6 text-start">
      <article class="container position-relative">
        <!-- Large Screen -->
        <!-- <h1
          class="d-none d-sm-block ff-2 display-1 mt-4 mb-3 border-bottom border-1 z-3"
        >
          Penn-Northwest Development Corporation
        </h1> -->
        <h1
          id="large-screen-hero-header"
          class="d-none d-sm-block ff-1 lh-1 mt-4 mb-5 border-bottom border-1 z-3"
        >
          Penn-Northwest Development Corporation
        </h1>
        <!-- Small Screen -->
        <h1
          class="d-sm-none ff-1 font-size-2 mt-4 mb-3 border-bottom border-1 z-3"
        >
          Penn-Northwest Development Corporation
        </h1>
        <p class="lead mt-4 max-text-width hero-lead-text">
          Welcome to Penn-Northwest Development Corporation, your trusted
          partner for economic development in Northwestern Pennsylvania.
        </p>
        <p class="lead mt-4 max-text-width hero-lead-text">
          We are a non-profit organization dedicated to promoting business
          growth, community revitalization, and job creation in the region.
        </p>
        <!--? The following is saved as the original copy material here -->
        <!-- <p class="ff-4 font-size-6 mt-4 mb-5 mb-lg-0">
          With over 40 years of experience, we have a proven track record of
          success in attracting and retaining businesses, supporting
          entrepreneurs, and fostering economic growth. Our team of experts is
          committed to providing you with the resources, guidance, and support
          you need to achieve your business goals.
        </p> -->

        <div class="container-fluid">
          <a
            href="#icon-divider"
            id="call-to-action-button"
            class="btn btn-background-slide mt-5 mb-4 d-none d-lg-flex ff-4"
          >
            Start your journey today!
            <i class="gg-arrow-right d-inline-block"></i>
            <div
              class="text-light btn-background-slide--blue btn-background-slide-bg"
            ></div>
          </a>
        </div>
      </article>
    </div>

    <!--?  -->
    <div class="d-xxl-none col-lg-8 text-start">
      <article class="container position-relative">
        <!-- Large Screen -->
        <h1
          id="large-screen-hero-header"
          class="d-none d-sm-block ff-1 lh-1 mt-4 mb-5 border-bottom border-1 z-3"
        >
          Penn-Northwest Development Corporation
        </h1>
        <!-- Small Screen -->
        <h1
          class="d-sm-none ff-1 font-size-2 mt-4 mb-3 border-bottom border-1 z-3"
        >
          Penn-Northwest Development Corporation
        </h1>
        <p class="lead mt-4 max-text-width hero-lead-text">
          Welcome to Penn-Northwest Development Corporation, your trusted
          partner for economic development in Northwestern Pennsylvania.
        </p>
        <p class="lead mt-4 max-text-width hero-lead-text">
          We are a non-profit organization dedicated to promoting business
          growth, community revitalization, and job creation in the region.
        </p>

        <div class="container-fluid">
          <a
            href="#icon-divider"
            id="call-to-action-button"
            class="btn btn-background-slide mt-5 mb-4 d-none d-lg-flex ff-4"
          >
            Start your journey today!
            <i class="gg-arrow-right d-inline-block"></i>
            <div
              class="text-light btn-background-slide--blue btn-background-slide-bg"
            ></div>
          </a>
        </div>
      </article>
    </div>
  </section>

  <!--! Icons Divider ------------------------------------------------------------------------------------------------------------------>
  <aside id="icon-divider" class="row mx-0 p-5 shadow-lg">
    <div id="portfolio">
      <div class="container workWidth">
        <h1 class="subtitle display-1 font-size-1" id="test"> A Quick Look </h1>
        <div class="work-list">
          <div class="work">
            <img src="https://res.cloudinary.com/dypchgtip/image/upload/v1710272521/industry_mquxjy.jpg"
              alt="Local industrial site showing our help with the local economy"
              title="Local industrial site showing our help with the local economy">
            <div class="layer">
              <h3>Boosting Local Economy</h3>
              <p>At Penn-Northwest, we catalyze economic vibrancy in Mercer County by
                  providing tailored support and resources, aiding businesses from
                  inception to expansion.</p>
              <a href="/about" id="work-button" class="btn btn-background-slide my-4 d-flex ff-4">
                About Us
                <i class="gg-arrow-right d-inline-block"></i>
                <div class="text-light btn-background-slide--blue btn-background-slide-bg"></div>
              </a>
            </div>
          </div>
          <div class="work">
            <img src="https://res.cloudinary.com/dypchgtip/image/upload/v1710272820/ribbon-cutting_d73xip.jpg"
              alt="Amplifying Financial Success - the ribbon cutting of a local business"
              title="Amplifying Financial Success - the ribbon cutting of a local business">
            <div class="layer">
              <h3>Amplifying Financial Success</h3>
              <p>Penn-Northwest propels member's financial success with strategic
                economic solutions, enhancing profitability and fostering sustainable
                growth.</p>
              <a href="/membership#signup" id="work-button" class="btn btn-background-slide my-4 d-flex ff-4">
                Join today!
                <i class="gg-arrow-right d-inline-block"></i>
                <div class="text-light btn-background-slide--blue btn-background-slide-bg"></div>
              </a>
            </div>
          </div>
          <div class="work">
            <img 
              class="img-fluid"
              src="https://res.cloudinary.com/dypchgtip/image/upload/v1710274420/Kentucky-Derby_vrogaq.jpg"
              alt="The Kentucky Derby event group photo - showcasing our facilitation of local relationships"
              title="The Kentucky Derby event group photo">
            <div class="layer">
              <h3>Facilitating Relationships</h3>
              <p>Building bridges between businesses and stakeholders, Penn-Northwest
                fosters a cooperative, interconnected ecosystem. Click below to view our
                upcoming catalogue of events!</p>
              <a href="/events" id="work-button" class="btn btn-background-slide my-4 d-flex ff-4">
                View Events
                <i class="gg-arrow-right d-inline-block"></i>
                <div class="text-light btn-background-slide--blue btn-background-slide-bg"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>

    

  <!--! Digest/magazine Section ---------------------------------------------------------------------------------------------------------------------------------------->
  <section
    id="digest"
    class="py-5 d-flex flex-column align-items-center bg-light text-dark">
  <hr class="w-100 my-1" />
    <header class="px-0 d-flex flex-column align-items-center">
      <h1 class="display-1">ATTN: Entrepreneurs</h1>
    </header>
    <div id="digest-content" style="width: 100%; justify-content: center; display:flex;" >
      <iframe allowfullscreen="allowfullscreen" scrolling="no" class="fp-iframe" style="border: 1px solid lightgray; width: 100%; height: 800px;" src="https://heyzine.com/flip-book/9b75e28e2f.html"></iframe>
    </div>
  </section>

  <!--! Make it in! Section --------------------------------------------------------------------------------------------------------------------------------------------->
  <section
    id="make-it-in"
    class="py-5 d-flex flex-column align-items-center bg-light"
  >
    <header class="px-0 d-flex flex-column align-items-center">
      <img
        crossorigin="anonymous"
        class="img-fluid mb-3"
        src="https://res.cloudinary.com/dypchgtip/image/upload/v1708661360/make-it-in-no-bg_xya5f7.png"
        alt=""
      />
      <p class="lead max-text-width text-center">
        Looking to start or expand your business? Thinking of moving to the
        area? Hear from some of our members to find out what makes Mercer County
        so great!
      </p>
    </header>

    <!--* Community Video  -->
    <section class="container text-center my-5">
      <article class="container">
        <div class="ratio ratio-16x9">
          <iframe
            class="rounded shadow-lg border border-primary-subtle"
            width="560"
            height="315"
            src="https://www.youtube.com/embed/ZjlaPYu_0Wc?si=32O1MQ8vWqTqBAKO"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
      </article>
    </section>

    <hr class="w-100 my-5" />

    <!--* Start CoL Calculator Section  -->
    <section id="col-calc-section" class="row w-100 my-5">
      <!--* Left Side of screen -->
      <section
        class="col-lg-6 mb-4 mb-lg-0 mt-lg-0 text-center d-flex flex-column align-items-center"
      >
        <h2 class="ff-4 display-5 mb-3 border-bottom">
          Try our Cost of Living Calculator
        </h2>
        <p class="lead max-text-width">
          Not only is Mercer County a great place to live, it just plain makes
          financial sense! Try our cost of living calculator to see what we
          mean:
        </p>
        <img
          class="img-fluid mt-5 mw-70 rounded border border-primary shadow-lg"
          src="https://res.cloudinary.com/dypchgtip/image/upload/v1710275282/Greenville_PA_Downtown_Main_Street_November_2021_zglcue.jpg"
          crossorigin="anonymous"
          alt="A photo of Downtown Greenville - one of the local towns in Northern Mercer County"
          title="A photo of Downtown Greenville - one of the local towns in Northern Mercer County"
        />
        <p>
          <small
            >Credit: Wikimedia
            <a
              class="text-decoration-underline"
              href="https://creativecommons.org/licenses/by-sa/4.0/"
              target="_blank"
              >Creative Commons SA 4.0</a
            ></small
          >
        </p>
      </section>
      <!--* Cost of Living Calculator -->
      <section class="col-lg-6 container mb-5 mt-5 mb-lg-0">
        <div class="row">
          <article
            id="cost-of-living-calculator-aside"
            class="mt-4 mt-lg-0 shadow-lg border border-dark-subtle rounded col-xxl-9 offset-xxl-1 col-xl-9 offset-xl-2 col-lg-10 offset-lg-2 col-md-10 offset-md-1"
          >
            <div class="blur-box">
              <h3
                class="ff-2 display-5 text-center text-dark pt-3 d-none d-xl-block"
              >
                Cost of Living Calculator
              </h3>
              <h3
                class="ff-2 display-5 text-center pt-3 d-none d-lg-block d-xl-none"
              >
                Cost of Living Calculator
              </h3>
              <h3 class="ff-2 display-5 text-center pt-3 d-lg-none">
                Cost of Living Calculator
              </h3>

              <!--* Begin Form -->
              <div id="form-box" class="container">
                <form name="job-search-contact-form" class="row g-2 py-5">
                  <div id="currentCity-div" class="col-sm-8">
                    <label for="firstName" class="form-label"
                      >Your Current City</label
                    >
                    <input
                      type="text"
                      class="form-control userInput"
                      id="currentCity"
                      name="currentCity"
                      placeholder='Eg. "Pittsburgh"'
                      required
                    />
                  </div>

                  <div
                    id="stateSelect-div"
                    class="col-sm-4 d-flex flex-column justify-content-end"
                  >
                    <select
                      id="stateSelect"
                      class="form-select userInput"
                      aria-label="Select Your State"
                    >
                      <option value="al">Alabama</option>
                      <option value="ak">Alaska</option>
                      <option value="as">American Samoa</option>
                      <option value="az">Arizona</option>
                      <option value="ar">Arkansas</option>
                      <option value="ca">California</option>
                      <option value="co">Colorado</option>
                      <option value="ct">Connecticut</option>
                      <option value="de">Delaware</option>
                      <option value="dc">District of Columbia</option>
                      <option value="fl">Florida</option>
                      <option value="ga">Georgia</option>
                      <option value="gu">Guam</option>
                      <option value="hi">Hawaii</option>
                      <option value="id">Idaho</option>
                      <option value="il">Illinois</option>
                      <option value="in">Indiana</option>
                      <option value="ia">Iowa</option>
                      <option value="ks">Kansas</option>
                      <option value="ky">Kentucky</option>
                      <option value="la">Louisiana</option>
                      <option value="me">Maine</option>
                      <option value="md">Maryland</option>
                      <option value="ma">Massachusetts</option>
                      <option value="mi">Michigan</option>
                      <option value="mn">Minnesota</option>
                      <option value="ms">Mississippi</option>
                      <option value="mo">Missouri</option>
                      <option value="mt">Montana</option>
                      <option value="ne">Nebraska</option>
                      <option value="nv">Nevada</option>
                      <option value="nh">New Hampshire</option>
                      <option value="nj">New Jersey</option>
                      <option value="nm">New Mexico</option>
                      <option value="ny">New York</option>
                      <option value="nc">North Carolina</option>
                      <option value="nd">North Dakota</option>
                      <option value="mp">Northern Mariana Islands</option>
                      <option value="oh">Ohio</option>
                      <option value="ok">Oklahoma</option>
                      <option value="or">Oregon</option>
                      <option value="pa">Pennsylvania</option>
                      <option value="pr">Puerto Rico</option>
                      <option value="ri">Rhode Island</option>
                      <option value="sc">South Carolina</option>
                      <option value="sd">South Dakota</option>
                      <option value="tn">Tennessee</option>
                      <option value="tx">Texas</option>
                      <option value="ut">Utah</option>
                      <option value="vt">Vermont</option>
                      <option value="vi">Virgin Islands</option>
                      <option value="va">Virginia</option>
                      <option value="wa">Washington</option>
                      <option value="wv">West Virginia</option>
                      <option value="wi">Wisconsin</option>
                      <option value="wy">Wyoming</option>
                    </select>
                  </div>

                  <div id="mercerCountyCity-div" class="col-12 py-3 mt-4">
                    <label for="mercerCountyCity" class="form-label"
                      >Which town are you considering?</label
                    >

                    <select
                      id="mercerCountyCity"
                      name="mercerCountyCity"
                      class="form-select userInput"
                      aria-label="Which town are you considering?"
                    >
                      <option value="clark-pa">Clark</option>
                      <option value="farrell-pa">Farrell</option>
                      <option value="fredonia-pa">Fredonia</option>
                      <option value="greenville-pa">Greenville</option>
                      <option value="grove-city-pa">Grove City</option>
                      <option value="hermitage-pa">Hermitage</option>
                      <option value="jackson-center-pa">Jackson Center</option>
                      <option value="jamestown-pa">Jamestown</option>
                      <option value="lake-latonka-pa">Lake Latonka</option>
                      <option value="mercer-pa">Mercer</option>
                      <option value="new-lebanon-pa">New Lebanon</option>
                      <option value="reynolds-heights-pa">
                        Reynolds Heights
                      </option>
                      <option value="sandy-lake-pa">Sandy Lake</option>
                      <option value="sharon-pa">Sharon</option>
                      <option value="sharpsville-pa">Sharpsville</option>
                      <option value="sheakleyville-pa">Sheakleyville</option>
                      <option value="stoneboro-pa">Stoneboro</option>
                      <option value="west-middlesex-pa">West Middlesex</option>
                      <option value="wheatland-pa">Wheatland</option>
                    </select>
                  </div>
                  <div id="salary-div" class="col-12 pb-3 mt-4">
                    <label for="salary" class="form-label"
                      >Current Salary</label
                    >
                    <input
                      type="number"
                      class="form-control userInput"
                      id="salary"
                      name="salary"
                      placeholder="Eg. 45000"
                      required
                    />
                  </div>

                  <div id="submit-div" class="col-12 mt-4">
                    <button
                      id="form-submit-button"
                      type="submit"
                      class="btn btn-primary btn-lg"
                    >
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </article>
        </div>
      </section>
      <img src="" alt="" />
    </section>
  </section>

  <!--! Dividing Picture Section ---------------------------------------------------------------------------------------------------------------------------->
  <!--TODO Check this on the Production site to ensure it works -->
  <section
    id="dividing-section"
    class="dividing-section-height shadow-lg border-top border-bottom border-dark"
  ></section>

  <!--TODO Find out about the Qualifications Estimator  -->
  <!--! Services Section ----------------------------------------------------------------------------------------------------------------------->
  <section
    id="services-section"
    class="bg-light d-flex flex-column align-items-center rounded-bottom"
  >
    <!--? Header -->
    <header class="mt-5 px-0 d-flex flex-column align-items-center">
      <h2 class="ff-4 font-size-1 display-1 text-center">
        Explore Our Services
      </h2>
      <p class="lead max-text-width text-center">
        We have all the incentives you need to Make it in! Mercer County!
      </p>
      <p class="lead max-text-width text-center">
        Our Affordable Solutions for Corporate Expansion include:
      </p>
      <ul class="list-group list-group-flush bg-light">
        <li class="list-group-item bg-light text-center">
          Low-cost land and buildings
        </li>

        <li class="list-group-item bg-light text-center">
          Tax Credits and Abatements
        </li>

        <li class="list-group-item bg-light text-center">
          No-cost technical assistance and more!
        </li>
      </ul>
    </header>

    <!--? Section 1 CORPORATE EXPANSION SOLUTIONS -->
    <section class="row w-100 mt-5 pb-5 g-5">
      <article class="col-lg-6">
        <h3 class="display-5 text-center border-bottom mb-5">
          Corporate Expansion Solutions
        </h3>

        <p class="lead">Local low-interest revolving loan funds:</p>
        <ul class="">
          <li class="mb-2">
            Penn-Northwest manages and administers a multimillion dollar
            revolving loan fund that compliments many other sources of funding.
          </li>
          <li class="mb-2">
            Available to eligible new and expanding industrial, manufacturing,
            warehouse, distribution, business-to-business and advanced
            technology firms in Mercer County.
          </li>
          <li class="mb-2">
            Can be used for land and building acquisition, renovations, new/used
            machinery and equipment purchases and limited working capital.
          </li>
        </ul>
      </article>
      <aside class="col-lg-6 d-flex align-items-center">
        <img
          crossorigin="anonymous"
          src="https://res.cloudinary.com/dypchgtip/image/upload/v1695155506/original-header-img_fyzwr1.jpg"
          alt="Make it in Mercer County Services Section  Photo"
          title="Make it in! Mercer County, Pennsylvania"
          class="img-fluid rounded shadow-lg border border-primary"
        />
      </aside>

      <aside class="col-12 d-flex justify-content-center mb-5">
        <div class="card">
          <div class="card-body text-center max-text-width">
            <p class="lead text-center max-text-width mb-0">
              <strong>In Addition, </strong>our team can connect you with and
              help you apply to other local sources of low-interest financing,
              including the Shenango Valley Enterprise Zone Corporation, the
              Sharon Industrial Development Authority, the City of Farrell, the
              City of Hermitage and the Northwest Commission.
            </p>
          </div>
        </div>
      </aside>

      <!--? Section 2 SITE SPECIFIC INCENTIVES -->
      <aside class="col-lg-6 d-flex align-items-center mt-5">
        <img
          crossorigin="anonymous"
          src="https://res.cloudinary.com/dypchgtip/image/upload/v1710292465/construction-crane1_grkyyb.jpg"
          alt="Photo of a local construction project"
          title="Mercer County provides opportunities for economic development"
          class="img-fluid rounded shadow-lg border border-warning"
        />
      </aside>

      <article class="col-lg-6">
        <h3 class="display-5 text-center border-bottom mb-5">
          Site-Specific Incentives
        </h3>

        <p class="lead">The PA Keystone Opportunity Zone:</p>
        <ul class="">
          <li class="mb-2">
            Mercer County has over 500 acres of property located in designated
            Keystone Opportunity Zones.
          </li>
          <li class="mb-2">
            This designation eliminates specific state and local taxes within
            identified underdeveloped and underutilized areas, including
            Corporate Net Income Taxes, Capital Stock & Foreign Franchise Tax,
            Personal Income Tax, Sales & Use Tax, Bank Shares & Trust Company
            Shares Tax, Alternative Bank & Trust Company Shares Tax, Mutual
            Thrift Institutions Tax, Insurance Premiums Tax.
          </li>
          <li class="mb-2">
            Additionally, it exempts Earned Income/Net Profits Tax, Business
            Gross Receipts, Business Occupancy, Business Privilege & Mercantile
            Taxes, and Local Real Property Tax.
          </li>
        </ul>
      </article>

      <aside class="col-12 d-flex justify-content-center mb-5">
        <div class="card">
          <div class="card-body text-center max-text-width">
            <p class="lead text-center max-text-width mb-0">
              <strong>The Keystone Opportunity Zone </strong>is such a
              breakthrough and high-impact incentive that
              <em>Business Facilities Magazine</em> calls it
              <strong
                >"...the number one economic development strategy in the
                nation!"</strong
              >
            </p>
          </div>
        </div>
      </aside>

      <!--? Section 3 Tax-Exempt Bond Financing + CORPORATE EXPANSION SOLUTIONS -->
      <article class="col-lg-6">
        <h3 class="display-5 text-center border-bottom mb-5">
          Industrial Bond Financing
        </h3>

        <p class="lead">
          Small manufacturers and non-profit 501(c)(3) corporations may be
          eligible for taxable bonds through the Mercer County Industrial
          Development Authority (MCIDA):
        </p>
        <ul class="">
          <li class="mb-2">
            The MCIDA issues taxable bonds as stand-alone transactions.
          </li>
          <li class="mb-2">
            Bond funds are loaned to businesses and can be used to finance land,
            building, and new machinery and equipment. The rate is usually about
            85% of the prime rate with terms similar to conventional financing.
          </li>
        </ul>
      </article>
      <aside class="col-lg-6 d-flex align-items-center mb-5">
        <img
          crossorigin="anonymous"
          src="https://res.cloudinary.com/dypchgtip/image/upload/v1710292824/make-it-in-magazine_l8qdv6.jpg"
          alt="Penn Northwest Make it in! Magazines Photo"
          title="Through the MCIDA program, we offer up to 10 Million in business loans"
          class="img-fluid rounded shadow-lg border border-primary"
        />
      </aside>

      <hr />

      <!--? PA State Incentives -->
      <div
        id="PA-state-incentives"
        class="col-12 d-flex flex-column align-items-center"
      >
        <h3 class="display-5 text-center mb-3">PA State Incentives</h3>
        <p class="lead mb-5 text-center max-text-width">
          The below is just a sample offering of the Affordable Solutions for
          Corporate Expansion available in Mercer County.
        </p>
      </div>
      <section
        class="col-12 d-flex flex-wrap justify-content-center align-items-start"
      >
        <!--? Card 1 - Pennsylvania Industrial Development Authority (PIDA)  -->
        <div class="card max-text-width shadow mx-3 mb-5">
          <div class="card-header">
            Pennsylvania Industrial Development Authority (PIDA)
          </div>
          <div class="card-body">
            <h5 class="card-title">Low-Interest Business Loans</h5>
            <p class="card-text">
              The Pennsylvania Industrial Development Authority (PIDA) provides
              low-interest loans and lines of credit for eligible businesses
              that commit to creating and retaining full-time jobs in
              Pennsylvania. These funds can be used for various purposes,
              including:
            </p>
            <ul>
              <li>Land acquisition and building</li>
              <li>Construction and renovation costs</li>
              <li>Machinery and equipment purchases</li>
              <li>Working capital and accounts receivable lines of credit</li>
              <li>Multi-tenant facility projects</li>
              <li>Industrial park projects</li>
            </ul>
            <p>
              Penn-Northwest will package and help underwrite your loan
              application in partnership with PIDA.
            </p>
          </div>
        </div>

        <!--? Card 2 - Manufacturing Tax Credits (MTC) -->
        <div class="card max-text-width shadow mx-3 mb-5">
          <div class="card-header">PA Manufacturing Tax Credits (MTC)</div>
          <div class="card-body">
            <h5 class="card-title">Offset Business Tax Liabilities</h5>
            <p class="card-text">
              Manufacturing Tax Credits (MTC) can be used to offset various
              business tax liabilities. Our team specializes in helping eligible
              businesses secure these tax credits, providing up to $1,000 or
              more per new job created.
            </p>
          </div>
        </div>

        <!--? Card 3 - WEDnetPA Program -->
        <div class="card max-text-width shadow mx-3 mb-5">
          <div class="card-header">WEDnetPA Program</div>
          <div class="card-body">
            <h5 class="card-title">Employee Training Funds</h5>
            <p class="card-text">
              The Workforce and Economic Development Network of Pennsylvania -
              WEDnetPA - program provides qualified employers with training
              funds for both new and existing employees. These funds can be
              utilized for a wide range of training programs, categorized as
              follows:
            </p>
            <ul>
              <li>
                Essential Skills Training: Up to $2000 per trainee, per year
              </li>
            </ul>
            <p>
              We are here to assist you in securing these valuable training
              funds for your workforce development needs.
            </p>
          </div>
        </div>

        <!--? Card 4 - Pennsylvania First Program (PA First) -->
        <div class="card max-text-width shadow mx-3 mb-5">
          <div class="card-header">Pennsylvania First Program (PA First)</div>
          <div class="card-body">
            <h5 class="card-title">Facilitate Investment and Job Creation</h5>
            <p class="card-text">
              The Pennsylvania First Program (PA First) serves as a
              comprehensive funding tool to promote increased investment and job
              creation within the commonwealth. Our team is dedicated to
              assisting your eligible business in securing financial support,
              which may include grants, loans, or loan guarantees for various
              purposes, including:
            </p>
            <ul>
              <li>Machinery and equipment purchases</li>
              <li>Job training</li>
              <li>Infrastructure development</li>
              <li>Land and building improvements</li>
              <li>Environmental assessment and remediation</li>
              <li>Acquisition of land, buildings, or right-of-ways</li>
              <li>Working capital</li>
              <li>Site preparation, demolition, and clearance</li>
            </ul>
            <p>
              Contact us to explore the opportunities provided by PA First and
              how we can help your business thrive.
            </p>
          </div>
        </div>
      </section>

      <!--? Final Incentive Info and Disclaimer -->
      <aside
        class="col-12 d-flex flex-column align-items-center shadow-sm pb-5"
      >
        <h4 class="display-6 border-bottom mb-3">Further Incentive Info:</h4>
        <p class="lead max-text-width text-center mb-3">
          If your competitive project has a significant economic impact, there
          are additional low-cost and no-cost tools, including grant funds,
          available. Contact us today to check your eligibility and learn how
          Mercer County can reduce your expansion project's costs!
        </p>
        <p class="max-text-width text-center">
          <small
            ><em
              >Typical offerings for most industrial and manufacturing
              businesses creating and/or retaining a significant number of jobs
              and making capital investment in Pennsylvania. All state
              incentives are subject to approval by the Governor, PIDA Board
              and/or Pennsylvania Department of Community & Economic Development
              Secretary.</em
            ></small
          >
        </p>
      </aside>
    </section>

    <section id="homepage-contact-form" class="w-100 mb-5 pb-3">
      <header class="container d-flex flex-column align-items-center">
        <h2 class="ff-4 font-size-1 display-2 text-center mb-3">
          Get in contact!
        </h2>
        <p class="lead max-text-width text-center mb-5">
          Ready to grow your business in Mercer County? Reach out to us now!
        </p>
      </header>
      <article
        id="maps-contact-form"
        class="w-100 d-flex flex-column align-items-center"
      >
        <div id="iframe-div-test" class="shadow-lg border rounded mb-0 pb-0">
          <!--? Medium and Up Screens -->
          <iframe
            class="maps-contact-form-iframe z-3 d-none d-md-block"
            width="640"
            height="1000"
            frameborder="0"
            marginheight="0"
            marginwidth="0"
            src="https://docs.google.com/forms/d/e/1FAIpQLSfJ0VLiYe8p0bnBjbJ1GQxPlENNAzjkci6HZ4yLsNvMLlgUYw/viewform?embedded=true"
          >Loading…</iframe>
          <!--? Between small and medium screens -->
          <iframe
            class="maps-contact-form-iframe z-3 d-none d-sm-block d-md-none"
            width="480"
            height="1000"
            frameborder="0"
            marginheight="0"
            marginwidth="0"
            src="https://docs.google.com/forms/d/e/1FAIpQLSfJ0VLiYe8p0bnBjbJ1GQxPlENNAzjkci6HZ4yLsNvMLlgUYw/viewform?embedded=true"
          >Loading…</iframe>
          <!--? Smallest screens only (phones) -->
          <iframe
            class="maps-contact-form-iframe z-3 d-sm-none"
            width="360"
            height="1000"
            frameborder="0"
            marginheight="0"
            marginwidth="0"
            src="https://docs.google.com/forms/d/e/1FAIpQLSfJ0VLiYe8p0bnBjbJ1GQxPlENNAzjkci6HZ4yLsNvMLlgUYw/viewform?embedded=true"
          >Loading…</iframe>
        </div>
      </article>
    </section>

    <!--? Lands' End Store -->
    <section class="w-100 my-5 pb-3 row px-5 border-top py-5">
      <div class="col-lg-6">
        <h2 class="display-3">Before You Go,</h2>
        <h3 class="display-5">Checkout Our Storefront!</h3>
        <p class="lead max-text-width">
          Explore our online storefront for a wide range of quality products.
          Discover exclusive deals, enjoy easy navigation, and experience secure
          shopping from the comfort of your home.
        </p>
      </div>
      <div class="col-lg-6 d-flex flex-column align-items-center">
        <a href="https://business.landsend.com/store/pndc/" target="_blank">
          <img
            class="img-fluid"
            src="https://res.cloudinary.com/dypchgtip/image/upload/v1709867137/lands-end-business-logo_qsqjow.png"
            crossorigin="anonymous"
            alt="Lands End Business Storefront Logo Image and Link"
          />
        </a>
        <a href="https://business.landsend.com/store/pndc/" target="_blank"
          ><button class="btn btn-outline-primary btn-lg">Open Store</button></a
        >
      </div>
    </section>

    <script src="/js/home/ColCalc.js"></script>
    <script src="/js/home/modal.js"></script>
    <!--* Script for moving main content down to account for Header -->
  </section>
</section>
