<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/home.css" />

<section id="main" class="blue-gradient min-height-100-vh">
  <article
    class="mx-5 bg-light rounded border overflow-y-auto no-scrollbar min-height-100-vh pb-5"
  >
    <div class="container">
      <h1 class="ff-1 font-size-2 mt-4">Mercer County</h1>
      <p class="ff-4 letter-spacing-1 max-text-width">
        Penn-Northwest is a conduit and catalyst for economic growth and
        prosperity in Mercer County. We exist to enrich the lives of those who
        live, learn, work, and play in Mercer County by attracting investment
        that creates and/or retains economically sustaining jobs.
      </p>
      <p class="ff-4 letter-spacing-1 max-text-width">
        Penn-Northwest is a conduit and catalyst for economic growth and
        prosperity in Mercer County. We exist to enrich the lives of those who
        live, learn, work, and play in Mercer County by attracting investment
        that creates and/or retains economically sustaining jobs.
      </p>
      <p class="ff-4 letter-spacing-1 max-text-width">
        Penn-Northwest is a conduit and catalyst for economic growth and
        prosperity in Mercer County. We exist to enrich the lives of those who
        live, learn, work, and play in Mercer County by attracting investment
        that creates and/or retains economically sustaining jobs.
      </p>
      <p class="ff-4 letter-spacing-1 max-text-width">
        Penn-Northwest is a conduit and catalyst for economic growth and
        prosperity in Mercer County. We exist to enrich the lives of those who
        live, learn, work, and play in Mercer County by attracting investment
        that creates and/or retains economically sustaining jobs.
      </p>
      <p class="ff-4 letter-spacing-1 max-text-width">
        Penn-Northwest is a conduit and catalyst for economic growth and
        prosperity in Mercer County. We exist to enrich the lives of those who
        live, learn, work, and play in Mercer County by attracting investment
        that creates and/or retains economically sustaining jobs.
      </p>
      <p class="ff-4 letter-spacing-1 max-text-width">
        Penn-Northwest is a conduit and catalyst for economic growth and
        prosperity in Mercer County. We exist to enrich the lives of those who
        live, learn, work, and play in Mercer County by attracting investment
        that creates and/or retains economically sustaining jobs.
      </p>
      <p class="ff-4 letter-spacing-1 max-text-width">
        Penn-Northwest is a conduit and catalyst for economic growth and
        prosperity in Mercer County. We exist to enrich the lives of those who
        live, learn, work, and play in Mercer County by attracting investment
        that creates and/or retains economically sustaining jobs.
      </p>
      <p class="ff-4 letter-spacing-1 max-text-width">
        Penn-Northwest is a conduit and catalyst for economic growth and
        prosperity in Mercer County. We exist to enrich the lives of those who
        live, learn, work, and play in Mercer County by attracting investment
        that creates and/or retains economically sustaining jobs.
      </p>
      <p class="ff-4 letter-spacing-1 max-text-width">
        Penn-Northwest is a conduit and catalyst for economic growth and
        prosperity in Mercer County. We exist to enrich the lives of those who
        live, learn, work, and play in Mercer County by attracting investment
        that creates and/or retains economically sustaining jobs.
      </p>
      <p class="ff-4 letter-spacing-1 max-text-width">
        Penn-Northwest is a conduit and catalyst for economic growth and
        prosperity in Mercer County. We exist to enrich the lives of those who
        live, learn, work, and play in Mercer County by attracting investment
        that creates and/or retains economically sustaining jobs.
      </p>
      <p class="ff-4 letter-spacing-1 max-text-width">
        Penn-Northwest is a conduit and catalyst for economic growth and
        prosperity in Mercer County. We exist to enrich the lives of those who
        live, learn, work, and play in Mercer County by attracting investment
        that creates and/or retains economically sustaining jobs.
      </p>
      <p class="ff-4 letter-spacing-1 max-text-width">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
        mollitia eos quisquam omnis eveniet. Obcaecati delectus animi error
        numquam. Recusandae, eaque optio! Expedita culpa quod facere atque, ea
        error? Ut!
      </p>
    </div>
  </article>
</section>
<!--* Script for moving main content down to account for Header -->
<script src="/js/NavMargin.js"></script>
