<% layout('layouts/boilerplate') %>
<h1 class="ff-2 mt-4 max-text-width display-3 mb-3 border-bottom border-2">
  Membership Page
</h1>
<a href="/">Return Home</a>
<a href="/jobs">Jobs Page</a>
<a href="/events">Events Page</a>
<a href="/membership">Membership Page</a>
<a href="/about">About Page</a>
