<% layout('layouts/boilerplate') %>

<section
  class="row gx-5 mx-0 mx-lg-5 overflow-y-auto no-scrollbar min-height-100-vh pb-5"
>
  <main class="bg-light">
    <header>
      <h1
        class="ff-2 mt-4 max-text-width display-3 mb-3 border-bottom border-2 text-center"
      >
        Membership at Penn-Northwest
      </h1>
    </header>

    <section class="row mt-5">
      <article
        class="col-lg-4 d-flex flex-column align-items-center mb-5 mb-lg-0"
      >
        <a class="w-90 d-flex flex-column align-items-center border"
          >Membership Incentives</a
        >
      </article>
      <article
        class="col-lg-4 d-flex flex-column align-items-center mb-5 mb-lg-0"
      >
        <a class="w-90 d-flex flex-column align-items-center border"
          >Become a Member!</a
        >
      </article>
      <article
        class="col-lg-4 d-flex flex-column align-items-center mb-5 mb-lg-0"
      >
        <a class="w-90 d-flex flex-column align-items-center border"
          >Our Members</a
        >
      </article>
    </section>
  </main>
</section>
