<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/membership.css" />

<section
  class="row gx-5 mx-0 mx-lg-5 overflow-y-auto no-scrollbar min-height-100-vh pb-5 rounded"
>
  <main class="bg-light">
    <!--! Membership Buttons -->
    <section id="membership-buttons" class="row mb-5 pt-3 pb-5">
      <!--? Every element in each article has the same class, so that the link will trigger in JS no matter which element is clicked -->
      <!--* Incentives -->
      <article
        class="incentives-link-anchor col-lg-4 p-3 d-flex flex-column align-items-center mb-5 mb-lg-0 bottom-shadow rounded no-hover-shadow"
      >
        <a
          class="incentives-link-anchor header-links w-90 d-flex flex-column align-items-center"
        >
          <img
            class="incentives-link-anchor img-fluid mb-3"
            src="/assets/svgs/membership/reason-to-join.svg"
            alt="Fun with balloons"
          />
          <button
            href=""
            class="incentives-link-anchor btn btn-primary bg-orange-2 border border-0"
          >
            <h2 class="incentives-link-anchor display-6 text-light">
              Membership Incentives
            </h2>
          </button>
        </a>
      </article>

      <!--* Become a Member -->
      <article
        class="signup-link-anchor col-lg-4 px-3 py-5 d-flex flex-column align-items-center mb-5 mb-lg-0 bottom-shadow rounded no-hover-shadow"
      >
        <a
          id="become-a-member"
          class="signup-link-anchor header-links w-90 d-flex flex-column align-items-center"
        >
          <img
            class="signup-link-anchor img-fluid mb-3"
            src="/assets/svgs/membership/join.svg"
            alt="Fun with balloons"
          />
          <button
            href=""
            class="signup-link-anchor btn btn-primary bg-true-blue border border-0"
          >
            <h1 class="signup-link-anchor display-5">Become a Member!</h1>
          </button>
        </a>
      </article>

      <!--* Our Members -->
      <article
        class="member-list-link-anchor col-lg-4 p-3 d-flex flex-column align-items-center mb-5 mb-lg-0 bottom-shadow rounded no-hover-shadow"
      >
        <a
          class="member-list-link-anchor header-links w-90 d-flex flex-column align-items-center"
        >
          <img
            class="member-list-link-anchor img-fluid mb-3"
            src="/assets/svgs/membership/team.svg"
            alt="Fun with balloons"
          />
          <button
            href=""
            class="member-list-link-anchor btn btn-success bg-orange-2 border border-0"
          >
            <h2 class="member-list-link-anchor display-6 text-light">
              Our Members
            </h2>
          </button>
        </a>
      </article>
    </section>

    <!--! Membership Incentives -->
    <section
      id="membership-incentives"
      class="py-lg-5 d-flex flex-column align-items-center"
    >
      <header class="container text-center">
        <!--* Header and underline svg (contained within the <div>) -->
        <h1 class="display-5">
          Unlock Your
          <div class="underline-container">
            Potential
            <svg
              id="underline-svg"
              class="underline-svg"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 500 2"
            >
              <!--* Underline 1 -->
              <path
                d="M5,0 Q250,1 495,0"
                fill="none"
                stroke="#fb5607"
                stroke-width="8"
              ></path>
            </svg>
            <svg
              id="underline-svg-2"
              class="underline-svg"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 500 2"
            >
              <!--* Underline 1 -->
              <path
                d="M5,0 Q250,1 495,0"
                fill="none"
                stroke="#fb5607"
                stroke-width="8"
              ></path>
            </svg>
          </div>
          with a Penn-Northwest Membership
        </h1>
        <!--  -->
        <!-- Form: https://www.penn-northwest.com/economic-development/ -->
      </header>

      <div class="text-primary w-75 my-3">
        <hr />
      </div>

      <!--* Membership Incentive Cards -->
      <section class="row container mt-3 mb-5">
        <!--* Article 1 -->
        <article class="col-xl-4 d-flex flex-column align-items-center mb-5">
          <div class="card">
            <div class="card-body">
              <h5
                class="card-title ff-2 font-size-5 text-center mb-3 border-bottom"
              >
                Amplify Your Network
              </h5>
              <p class="card-text lead">
                Gain access to a powerful network of influential business
                leaders, industry experts, and like-minded professionals in
                Mercer County.
              </p>
              <p class="card-text lead">Penn-Northwest provides exclusive:</p>

              <ul class="list-group list-group-flush">
                <li class="list-group-item ff-2">Networking Events</li>
                <li class="list-group-item ff-2">Seminars</li>
                <li class="list-group-item ff-2">
                  Collaboration Opportunities
                </li>
                <li class="list-group-item ff-2">Strategic Partnerships</li>
                <li class="list-group-item ff-2">New Business Prospects</li>
              </ul>
              <!--? Saving the below for potential use later -->
              <!-- <p class="card-text text-center">Gain access to a powerful network of influential business leaders, industry experts, and like-minded professionals in Mercer County. 
                Penn-Northwest provides exclusive networking events, seminars, and collaboration opportunities that pave the way for meaningful connections, strategic partnerships, and new business prospects. 
                Expand your reach and unlock growth potential by tapping into our extensive network.</p> -->
            </div>
          </div>
        </article>

        <!--* Article 2 -->
        <article class="col-xl-4 d-flex flex-column align-items-center mb-5">
          <div class="card">
            <div class="card-body">
              <h5
                class="card-title ff-2 font-size-5 text-center mb-3 border-bottom"
              >
                Enhance Visibility and Promotion
              </h5>
              <p class="card-text lead">
                Propel your business to the forefront of Mercer County's
                thriving business community.
              </p>
              <p class="card-text lead">
                As a member, you'll receive exclusive:
              </p>
              <ul class="list-group list-group-flush mb-3">
                <li class="list-group-item ff-2">Marketing Opportunities</li>
                <li class="list-group-item ff-2">
                  Get Featured in Our Discover Mercer County Business Interviews
                </li>
                <li class="list-group-item ff-2">Increased Online Presence</li>
              </ul>
              <p class="card-text lead">
                Boost your brand's visibility and attract potential customers
                with Penn-Northwest's robust marketing channels.
              </p>
              <!-- <p class="card-text text-center">Propel your business to the forefront of Mercer County's thriving business community. 
                  As a member, you'll receive exclusive marketing opportunities, including featuring in our Discover Mercer County Business interviews, increased online presence through our dynamic website and social media platforms, and exposure to a wider audience.
                  Boost your brand's visibility and attract potential customers with Penn-Northwest's robust marketing channels.</p> -->
            </div>
          </div>
        </article>

        <!--* Article 3 -->
        <article class="col-xl-4 d-flex flex-column align-items-center mb-5">
          <div class="card">
            <div class="card-body">
              <h5
                class="card-title ff-2 font-size-5 text-center mb-3 border-bottom"
              >
                Access Resources and Support
              </h5>
              <p class="card-text lead">
                Benefit from a wide range of tailored services and valuable
                resources designed to meet the unique needs of your business.
              </p>
              <p class="card-text lead">As a member, you'll have access to:</p>
              <ul class="list-group list-group-flush mb-3">
                <li class="list-group-item ff-2">
                  Financial Assistance Programs
                </li>
                <li class="list-group-item ff-2">Educational Resources</li>
                <li class="list-group-item ff-2">
                  Workforce Development Initiatives
                </li>
              </ul>
              <p class="card-text lead">
                Whether you're seeking funding, guidance, or training,
                Penn-Northwest is here to support your business every step of
                the way.
              </p>
              <!-- <p class="card-text text-center">Benefit from a wide range of tailored services and valuable resources designed to meet the unique needs of your business. 
                As a member, you'll have access to 
                financial assistance programs, educational resources, and workforce development initiatives. 
                Whether you're seeking funding, guidance, or training, Penn-Northwest is here to support your business every step of the way.</p> -->
            </div>
          </div>
        </article>
      </section>
    </section>

    <!--! PDF Links -->
    <section class="container d-flex justify-content-evenly flex-wrap mb-5">
      <div class="card shadow mb-3 mb-md-0" style="width: 18rem">
        <a href="/membership/membership-brochure-pdf" target="_blank">
          <img
            src="/assets/images/membership/membership-brochure.png"
            class="card-img-top border"
            alt="Support Mercer County's Economic Growth - Join Penn-Northwest's Improvement Movement Team and contribute to making our community a better place to live, work, and play. Help us attract new businesses, create jobs, and ensure a prosperous future for all."
          />
        </a>
        <div class="card-body">
          <h5 class="card-title">Support Mercer County's Economic Growth</h5>
          <p class="card-text">
            Join Penn-Northwest's Improvement Movement Team and contribute to
            making our community a better place to live, work, and play. Help us
            attract new businesses, create jobs, and ensure a prosperous future
            for all.
          </p>
          <a
            href="/membership/membership-brochure-pdf"
            class="btn btn-primary"
            target="_blank"
            >Learn More</a
          >
        </div>
      </div>

      <div class="card shadow" style="width: 18rem">
        <a href="/membership/membership-levels-pdf" target="_blank">
          <img
            src="/assets/images/membership/membership-levels.png"
            class="card-img-top border"
            alt="..."
          />
        </a>
        <div class="card-body">
          <h5 class="card-title">Learn About Membership Types</h5>
          <p class="card-text">
            Join Penn-Northwest's Drive for Progress and shape a thriving
            community for all. Together, we can attract new businesses, generate
            employment opportunities, and ensure a prosperous future. Make a
            difference in our hometown!
          </p>
          <a
            href="/membership/membership-levels-pdf"
            class="btn btn-primary"
            target="_blank"
            >Learn More</a
          >
        </div>
      </div>
    </section>
  </main>
</section>

<script src="/js/membership/headerLinks.js"></script>
