<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/membership.css" />

<section
  class="row gx-5 mx-0 mx-lg-5 overflow-y-auto no-scrollbar min-height-100-vh pb-5 rounded"
>
  <main class="bg-light">
    <!-- <header class="mb-5">
      <h1
        class="ff-2 mt-4 max-text-width display-3 mb-3 border-bottom border-2 text-center"
      >
        Membership at Penn-Northwest
      </h1>
    </header> -->

    <!--! Membership Buttons -->
    <section id="membership-buttons" class="row my-5 pt-3 pb-5">
      <!--* Incentives -->
      <article
        class="col-lg-4 p-3 d-flex flex-column align-items-center mb-5 mb-lg-0 hover-shadow rounded"
      >
        <a class="header-links w-90 d-flex flex-column align-items-center">
          <img
            class="img-fluid mb-3"
            src="/assets/svgs/membership/reason-to-join.svg"
            alt="Fun with balloons"
          />
          <button href="" class="btn btn-success bg-orange-2 border border-0">
            <h2 class="display-6 text-light">Membership Incentives</h2>
          </button>
        </a>
      </article>

      <!--* Become a Member -->
      <article
        class="col-lg-4 px-3 py-5 d-flex flex-column align-items-center mb-5 mb-lg-0 shadow rounded no-hover-shadow"
      >
        <a
          id="become-a-member"
          class="header-links w-90 d-flex flex-column align-items-center"
        >
          <img
            class="img-fluid mb-3"
            src="/assets/svgs/membership/join.svg"
            alt="Fun with balloons"
          />
          <button href="" class="btn btn-primary bg-true-blue border border-0">
            <h1 class="display-5">Become a Member!</h1>
          </button>
        </a>
      </article>

      <!--* Our Members -->
      <article
        class="col-lg-4 p-3 d-flex flex-column align-items-center mb-5 mb-lg-0 hover-shadow rounded"
      >
        <a class="header-links w-90 d-flex flex-column align-items-center">
          <img
            class="img-fluid mb-3"
            src="/assets/svgs/membership/team.svg"
            alt="Fun with balloons"
          />
          <button href="" class="btn btn-success bg-orange-2 border border-0">
            <h2 class="display-6 text-light">Our Members</h2>
          </button>
        </a>
      </article>
    </section>

    <!--! Signup Form -->
    <section class="pt-5">
      <header>
        <h2 class="display-2">Header</h2>
        <!-- Form: https://www.penn-northwest.com/economic-development/ -->
      </header>
    </section>
  </main>
</section>

<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1 id="test">test</h1>

<script src="/js/membership/HeaderShadow.js"></script>
