<% layout('layouts/boilerplate') %>
<section
  class="row gx-5 mx-0 mx-lg-5 overflow-y-auto no-scrollbar min-height-100-vh pb-5"
>
  <section class="bg-light rounded">
    <h1 class="ff-2 display-1 mt-4 max-text-width mb-3 text-center">Login</h1>
  </section>
</section>
