<% layout('layouts/boilerplate') %>
<section
  class="row gx-5 mx-0 mx-lg-5 overflow-y-auto no-scrollbar min-height-100-vh pb-5"
>
  <section class="bg-light rounded d-flex flex-column align-items-center">
    <header>
      <h1 class="ff-2 display-2 mt-4 max-text-width mb-3">Register</h1>
    </header>

    <main class="container">
      <form class="row g-3 needs-validation" novalidate>
        <!--* First name -->
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">First name</label>
          <input
            type="text"
            class="form-control"
            id="validationCustom01"
            placeholder="First name"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>

        <!--* Last name -->
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Last name</label>
          <input
            type="text"
            class="form-control"
            id="validationCustom02"
            placeholder="Last name"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>

        <!--* Email -->
        <div class="col-md-4">
          <label for="validationCustomUsername" class="form-label">Email</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            <input
              type="email"
              class="form-control"
              id="validationCustomUsername"
              aria-describedby="inputGroupPrepend"
              placeholder="name@site.com"
              required
            />
            <div class="invalid-feedback">Please choose a username.</div>
          </div>
        </div>

        <!--* Username -->
        <div class="col-md-6">
          <label for="validationCustom03" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="validationCustom03"
            placeholder="Username"
            required
          />
          <div class="invalid-feedback">Please provide a valid city.</div>
        </div>

        <!--* Company -->
        <div class="col-md-3">
          <label for="validationCustom04" class="form-label">Company</label>
          <input
            type="text"
            class="form-control"
            id="validationCustom03"
            placeholder="Company"
            required
          />
          <div class="invalid-feedback">Please select a valid state.</div>
        </div>
        <div class="col-md-3">
          <label for="validationCustom05" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="validationCustom05"
            placeholder="*********"
            required
          />
          <div class="invalid-feedback">Please provide a valid zip.</div>
        </div>
        <div class="col-12">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="invalidCheck"
              required
            />
            <label class="form-check-label" for="invalidCheck">
              Agree to terms and conditions
            </label>
            <div class="invalid-feedback">
              You must agree before submitting.
            </div>
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
      </form>
    </main>
  </section>
</section>

<script src="/js/formValidation.js"></script>
