<% layout('layouts/boilerplate') %>
<section
  class="row gx-5 mx-0 mx-lg-5 overflow-y-auto no-scrollbar min-height-100-vh pb-5"
>
  <section class="bg-light rounded d-flex flex-column align-items-center">
    <header>
      <h1 class="ff-2 display-2 mt-4 max-text-width mb-3">Register</h1>
    </header>

    <main class="container">
      <form
        class="row g-3 needs-validation"
        action="/register"
        method="post"
        novalidate
      >
        <!--* First name -->
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">First name</label>
          <input
            type="text"
            name="register[firstName]"
            id="firstName"
            class="form-control"
            placeholder="First name"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please provide a first name.</div>
        </div>

        <!--* Last name -->
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Last name</label>
          <input
            type="text"
            name="register[lastName]"
            id="lastName"
            class="form-control"
            placeholder="Last name"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please provide a last name.</div>
        </div>

        <!--* Email -->
        <div class="col-md-4">
          <label for="validationCustomUsername" class="form-label">Email</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            <input
              type="email"
              name="register[email]"
              id="email"
              class="form-control"
              aria-describedby="inputGroupPrepend"
              placeholder="name@site.com"
              required
            />
            <div class="invalid-feedback">Please enter your email.</div>
          </div>
        </div>

        <!--* Username -->
        <div class="col-md-6">
          <label for="validationCustom03" class="form-label">Username</label>
          <input
            type="text"
            name="register[username]"
            id="username"
            class="form-control"
            placeholder="Username"
            required
          />
          <div class="invalid-feedback">Please enter a username.</div>
        </div>

        <!--* Company -->
        <div class="col-md-3">
          <label for="validationCustom04" class="form-label">Company</label>
          <input
            type="text"
            name="register[company]"
            id="company"
            class="form-control"
            placeholder="Company"
            required
          />
          <div class="invalid-feedback">Please enter your company name.</div>
        </div>

        <!--* Password -->
        <div class="col-md-3">
          <label for="validationCustom05" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            name="register[password]"
            id="password"
            placeholder="*********"
            pattern="^(?=.*[A-Z])(?=.*\d).+$"
            minlength="6"
            aria-describedby="passwordDescription"
            required
          />
          <div id="passwordDescription" class="form-text text-center">
            Min. 6 Characters. 1 Capital and 1 Number
          </div>
          <div class="invalid-feedback">
            Password must be at least 6 characters long and include at least one
            capital letter and one number
          </div>
        </div>

        <!--* Terms and Conditions Button -->
        <div class="col-12">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="invalidCheck"
              required
            />
            <label class="form-check-label" for="invalidCheck">
              Agree to terms and conditions
            </label>
            <div class="invalid-feedback">
              You must agree before submitting.
            </div>
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
    </main>
  </section>
</section>

<script src="/js/formValidation.js"></script>
